@{
    ViewBag.Title = "模块管理》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var order_id = GetQuery('OrderID');//新增使用
    var project_id = GetQuery('ProjectID');//编辑使用
    $(function () {
        StateCombobox();
        InitControl();
        AddSetValue();
        //LoadManagerName();
    })
    //初始化状态下拉框
    function StateCombobox() {
        $("#State").append("<option value='' selected='selected'>==请选择==</option>");
        AjaxJson("/CommonModule/OrderManage/SetOrderState", {}, function (data) {
            for (var i = 0; i < data.length; i++) {
                $("#State").append("<option value='" + i + "'>" + data[i]["FullName"] + "</option>");
            }
        });
    }
    function AddSetValue() {
        if (!!order_id) {      //新增时给下拉框赋值
            AjaxJson("/CommonModule/OrderManage/GetProjectState", { KeyValue: order_id }, function (data) {
                $("#State option[value='" + data[0]["State"] + "']").attr("selected", "selected");
                $("#SubPriority").val(data[0]["Priority"]);
            });
        }
    }
    //加载负责人
    @*function LoadManagerName() {
        $("#ManagerName").focus(function () {
            var objId = this.id;
            comboBoxTree(objId, "180px");
            var itemtree = {
                onnodeclick: function (item) {
                    if (item.Type == "1") {
                        $("#Manager").val(item.id);
                        $('#ManagerName').val(item.text);
                    }
                },
                url: "@Url.Content("~/CommonModule/User/TreeJson")"
            };
            $("#comboBoxTree" + objId).treeview(itemtree);
        })
    }*@
    //得到一个对象实体
    function InitControl() {
        if (!!project_id) {
            AjaxJson("/CommonModule/OrderManage/SetProjectForm", { KeyValue: project_id }, function (data) {
                SetWebControls(data);
                //AjaxJson("/CommonModule/OrderManage/SetForm", { KeyValue: data.Manager }, function (data) {
                //    $("#ManagerName").val(data.RealName);
                //})
            });
        }
        //else {
        //    //显示顺序
        //    AjaxJson("/CommonModule/OrderManage/SortCode", {}, function (Data) {
        //        $("#SortCode").val(Data);
        //    })
        //    $("#CompanyId").val(GetQuery('CompanyId'));
        //}
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            AjaxJson("/CommonModule/OrderManage/SubmitProjectForm?order_id=" + order_id + "&project_id=" + escape(project_id), postData, function (data) {
                if (data.Message == "") {
                    tipDialog("很抱歉,该项目编号已存在。", 4, 'warning');
                } else {
                    tipDialog(data.Message, 3, data.Code);
                    top.frames[tabiframeId()].windowload();
                    closeDialog();
                }
            });
        }, 200);
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class="formTitle" style="display:none">
                主键：
            </th>
            <td class="formValue" style="display:none">
                <input id="ID" type="hidden" />
            </td>
            <th class="formTitle" style="display:none">
                所属订单ID：
            </th>
            <td class="formValue" style="display:none">
                <input id="OrderID" type="hidden" />
            </td>
            <th class="formTitle" style="display:none">
                产品ID：
            </th>
            <td class="formValue" style="display:none">
                <input id="ProductID" type="hidden" />
            </td>
            <th class="formTitle">
                产品名称：
            </th>
            <td class="formValue">
                <input id="ProductName" type="text" class="txt required" datacol="yes" err="产品名称" checkexpession="NotNull" />
            </td>
            <th class="formTitle">
                产品编号：
            </th>
            <td class="formValue">
                <input id="ProductCode" type="text" class="txt required" datacol="yes" err="产品编号" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <th class="formTitle" >
                项目名称：
            </th>
            <td class="formValue" >
                <input id="ProjectName" type="text" class="txt " />
            </td>
            <th class="formTitle">
                项目编号：
            </th>
            <td class="formValue">
                <input id="ProjectCode" type="text" class="txt " />
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                项目类型：
            </th>
            <td class="formValue">
                <select id="Type" class="txtselect" datacol="yes" err="订单类型" checkexpession="NotNull">
                    <option value="">==请选择==</option>
                    <option value="1">项目类型1</option>
                    <option value="2">项目类型2</option>
                    <option value="3">项目类型3</option>
                </select>
            </td>
            <th class="formTitle">
                产品数量：
            </th>
            <td class="formValue">
                <input id="Num" type="text" class="txt " onkeyup="value=value.replace(/[^\d]/g,'') "/>
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                单价：
            </th>
            <td class="formValue">
                <input id="Price" type="text" class="txt " onkeyup="value=value.replace(/[^\d]/g,'') " />
            </td>
            <th class="formTitle">
                单位：
            </th>
            <td class="formValue">
                <input id="Unit" type="text" class="txt " />
            </td>
        </tr>
        <tr>
            <th class="formTitle">交货期：</th>
            <td class="formValue">
                <input id="DeadLine" type="text" class="txt Wdate" onclick="WdatePicker()" readonly />
            </td>
            <th class="formTitle">有效性：</th>
            <td class="formValue">
                <span class="item">
                    <input type="checkbox" name="checkbox" checked="checked" id="IsAvailable" />
                    <label for="IsAvailable">有效</label>
                </span>
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                状态：
            </th>
            <td class="formValue">
                <select id="State" class="txtselect" datacol="yes" err="状态" checkexpession="NotNull">
                </select>
            </td>
            <th class="formTitle">
                优先级：
            </th>
            <td class="formValue">
                <input id="SubPriority" type="text" class="txt required" datacol="yes" err="优先级" value="1" checkexpession="NotNull" onkeyup="value=value.replace(/[^\d]/g,'') " />
            </td>
        </tr>
        <tr>
            <th class="formTitle" style="display:none">
                创建人：
            </th>
            <td class="formValue" style="display:none">
                <input id="CreatorID" type="text" class="txt " />
            </td>
            <th class="formTitle" style="display:none">创建时间：</th>
            <td class="formValue" style="display:none">
                <input id="CreateTime" type="text" class="txt Wdate" onclick="WdatePicker()" readonly />
            </td>
            <th class="formTitle" style="display:none">
                修改人：
            </th>
            <td class="formValue" style="display:none">
                <input id="ModifierID" type="text" class="txt " />
            </td>
            <th class="formTitle" style="display:none">修改时间：</th>
            <td class="formValue" style="display:none">
                <input id="LastModifiedTime" type="text" class="txt Wdate" onclick="WdatePicker()" readonly />
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                备注：
            </th>
            <td class="formValue" colspan="3">
                <textarea id="Remarks" name="Remarks" maxlength="200" class="txtArea" rows="3"></textarea>
            </td>
        </tr>
    </table>
</form>
