@{
    ViewBag.Title = "检查项目基础信息表》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    $(function () {
        BindDropItem("#QuaCheckItemTy", "QuaCheckItemTy", "");
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/BaseModule/BBdbR_QuaCheckItemBase/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
                document.getElementById('QuaCheckItemCd').setAttribute("readOnly", true);//编号不可修改
            });
        }
    }
    //根据检查项类型加载表单
    function Show() {
        var Condition = $("#QuaCheckItemTy").val();
        if (Condition == "定性") {
            $("#UpLimit").hide();
            $("#LowLimit").hide();
            $("#Value").hide();
        }
        else if (Condition == "定量") {
            $("#UpLimit").show();
            $("#LowLimit").show();
            $("#Value").show();
        }
        
    }
    //保存事件
    function AcceptClick() {
        if (!(checkHasOne(KeyValue))) {
            return false;
        }
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/BaseModule/BBdbR_QuaCheckItemBase/SubmitForm?KeyValue=" + KeyValue, postData, function (data) {
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class='formTitle'>检查项编号：</th>
            <td class='formValue'>
                <input id="QuaCheckItemCd" maxlength=50 type="text" class="txt required" datacol="yes" err="检查项编号" checkexpession="NotNull"  />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>检查项名称：</th>
            <td class='formValue'>
                <input id="QuaCheckItemNm" maxlength=50 type="text" class="txt required" datacol="yes" err="检查项名称" checkexpession="NotNull"  />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>检查项类型：</th>
            <td class='formValue'>
                <select id="QuaCheckItemTy"class="txt required" datacol="yes" err="检查项类型" checkexpession="NotNull" onchange="Show()"></select>
            </td>
        </tr>
        <tr id="UpLimit">
            <th class='formTitle'>检查项上限：</th>
            <td class='formValue'>
                <input id="QuaCheckItemUpLimit" maxlength=18 type="text" class="txt"   />
            </td>
        </tr>
        <tr id="LowLimit">
            <th class='formTitle'>检查项下限：</th>
            <td class='formValue'>
                <input id="QuaCheckItemLowLimit" maxlength=18 type="text" class="txt"   />
            </td>
        </tr>
        <tr id="Value">
            <th class='formTitle'>检查项标准值：</th>
            <td class='formValue'>
                <input id="QuaCheckItemValue" maxlength=18 type="text" class="txt"   />
            </td>
        </tr>
        @*<tr>
            <th class='formTitle'>有效性：</th>
            <td class='formValue'>
                <select id="Enabled" class="txt">
                    <option value="1">有效</option>
                    <option value="0">无效</option>
                </select>
            </td>
        </tr>*@
        <tr>
            <th class='formTitle'>检查项描述：</th>
            <td class='formValue'>
                <textarea id="QuaCheckItemDsc" maxlength=200 class="txt"></textarea>
            </td>
        </tr>
        <tr>
            <th class='formTitle'>备注：</th>
            <td class='formValue'>
                <textarea id="Rem" maxlength=200 class="txtArea" rows="3"></textarea>
            </td>
        </tr>
        <tr>
        </tr>
    </table>
</form>
