@{
    ViewBag.Title = "检查项目基础信息表";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(function () {
        //CellItem_QuaCheckItemTy('QuaCheckItemTy');//需在GetGrid()之前进行初始化赋值
        GetGrid();
        Show();
        BindDropItem("#QuaCheckItemTy", "QuaCheckItemTy", "==全部==");
    })
    //加载表格
    function GetGrid() {
        $("#gridTable").jqGrid({
        url: "@Url.Content("~/BaseModule/BBdbR_QuaCheckItemBase/GridPage")",
        datatype: "json",
        height: $(window).height() - 149,
        autowidth: true,
        colModel: [
                { label: '检查项主键', name: 'QuaCheckItemId', index: 'QuaCheckItemId', width: 0, align: 'left',sortable: true ,hidden: true },
                { label: '检查项编号', name: 'QuaCheckItemCd', index: 'QuaCheckItemCd', width: 0, align: 'left',sortable: true  },
                { label: '检查项名称', name: 'QuaCheckItemNm', index: 'QuaCheckItemNm', width: 0, align: 'left',sortable: true  },
                { label: '检查项类型', name: 'QuaCheckItemTy', index: 'QuaCheckItemTy', width: 0, align: 'left',sortable: true  },
                { label: '检查项上限', name: 'QuaCheckItemUpLimit', index: 'QuaCheckItemUpLimit', width: 0, align: 'left',sortable: true  },
                { label: '检查项下限', name: 'QuaCheckItemLowLimit', index: 'QuaCheckItemLowLimit', width: 0, align: 'left',sortable: true  },
                { label: '检查项标准值', name: 'QuaCheckItemValue', index: 'QuaCheckItemValue', width: 0, align: 'left',sortable: true  },
                { label: '版本号', name: 'VersionNumber', index: 'VersionNumber', width: 0, align: 'left',sortable: true  },
                { label: '有效性', name: 'Enabled', index: 'Enabled', width: 0, align: 'left',sortable: true ,hidden: true },
                { label: '检查项描述', name: 'QuaCheckItemDsc', index: 'QuaCheckItemDsc', width: 0, align: 'left',sortable: true  },
                { label: '创建时间', name: 'CreTm', index: 'CreTm', width: 0, align: 'left',sortable: true ,hidden: true },
                { label: '创建人编号', name: 'CreCd', index: 'CreCd', width: 0, align: 'left',sortable: true ,hidden: true },
                { label: '创建人名称', name: 'CreNm', index: 'CreNm', width: 0, align: 'left',sortable: true ,hidden: true },
                { label: '修改时间', name: 'MdfTm', index: 'MdfTm', width: 0, align: 'left',sortable: true ,hidden: true },
                { label: '修改人编号', name: 'MdfCd', index: 'MdfCd', width: 0, align: 'left',sortable: true ,hidden: true },
                { label: '修改人名称', name: 'MdfNm', index: 'MdfNm', width: 0, align: 'left',sortable: true ,hidden: true },
                { label: '备注', name: 'Rem', index: 'Rem', width: 0, align: 'left',sortable: true  },
                { label: '预留字段1', name: 'RsvFld1', index: 'RsvFld1', width: 0, align: 'left',sortable: true ,hidden: true },
                { label: '预留字段2', name: 'RsvFld2', index: 'RsvFld2', width: 0, align: 'left',sortable: true ,hidden: true },
        ],
        viewrecords: true,//显示总的记录条数
        rowNum: 200,
        rowList: [200, 300, 500, 1000],
        pager: "#gridPager",
        sortname: 'QuaCheckItemCd',
        sortorder: 'asc',
        rownumbers: true,
        shrinkToFit: false,
        multiselect: true,
        multiboxonly: true,
        gridview: true,
        loadonce: true,
    });
}
    //加载搜索框
    function Show() {
        var Condition = $("#Condition").val();
        if (Condition == "all") {
            $("#QuaCheckItemTy").hide();
            $("#keywords").hide();
        }
        else if (Condition == "QuaCheckItemTy") {
            $("#QuaCheckItemTy").show();
            $("#keywords").hide();
        }
        else {
            $("#QuaCheckItemTy").hide();
            $("#keywords").show();
        }
    }
    //新增
    function btn_add() {
        var url = "/BaseModule/BBdbR_QuaCheckItemBase/Form"
        openDialog(url, "Form", "新增检查项目基础信息表", 500, 300, function (iframe) {
            top.frames[iframe].AcceptClick()
        });
    }
    //编辑
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "QuaCheckItemId");
        if (IsChecked(KeyValue)) {
            var url = "/BaseModule/BBdbR_QuaCheckItemBase/Form?KeyValue=" + KeyValue;
            openDialog(url, "Form", "编辑检查项目基础信息表", 500, 300, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
    }
    //删除
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "QuaCheckItemId");
        if (IsDelData(KeyValue)) {
            var delparm = 'KeyValue=' + KeyValue;
            delConfig('/BaseModule/BBdbR_QuaCheckItemBase/Delete', delparm, KeyValue.split(",").length);
        }
    }
    //刷新
    function windowload() {
        $("#gridTable").setGridParam({ datatype: 'json', page: 1 }).trigger("reloadGrid");
        
    }
    //导入
    function btn_import() {
        var QuaCheckItemId = GetJqGridRowValue("#gridTable", "QuaCheckItemId");
        openDialog("/BaseModule/BBdbR_QuaCheckItemBase/ExcelImportDialog", "ExcelImportDialog", "检查项目信息导入", 750, 300, function (iframe) {
            top.frames[iframe].AcceptClick();
        });
    }
    //导出Excel
    function btn_derive() {
        SetDeriveExcel("#gridTable", "检查项目基本信息");
        openDialog("/CommonModule/ExcelImport/DeriveDialog", "DeriveDialog", "检查项目基本信息导出", 600, 300, function (iframe) {
            top.frames[iframe].AcceptClick();
        });
    }
    //搜索
    function btn_Search() {
        var Condition = $("#Condition").val();
        var keywords = $("#keywords").val();;
        if (Condition == "QuaCheckItemTy") {
            keywords = $("#QuaCheckItemTy").val();
        }
        else{
            keywords = $("#keywords").val();
        }
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/BaseModule/BBdbR_QuaCheckItemBase/GridPageByCondition")?keywords=" + escape(keywords) + "&Condition=" + escape(Condition), page: 1, datatype: 'json'
    }).trigger('reloadGrid');
    }
    $(document).keypress(function (e) {
        // 回车键事件
        if (e.which == 13) {
            btn_Search();
        }
    });
    function CellItem_QuaCheckItemTy(Code) {
        var value = "";
        getAjax('/CommonModule/DataDictionary/BinDingItemsJson', { Code: Code }, function (data) {
            var itemjson = eval("(" + data + ")");
            var length = itemjson.length;
            if (length == 1) {
                AviCatgCellItem = itemjson[0].Code + ":" + itemjson[0].FullName;
            }
            else if (length > 1) {
                for (var a = 0; a < length - 1; a++) {
                    value += itemjson[a].Code + ":" + itemjson[a].FullName + ";";
                }
                AviCatgCellItem = value + itemjson[length - 1].Code + ":" + itemjson[length - 1].FullName;
            }
            //length=0不处理
        })
    }
</script>
<!--工具栏-->
<div class="tools_bar leftline rightline" style="margin: 1px; margin-bottom: 0px;">
    <div class="PartialButton">
        @Html.Partial("_PartialButton")
    </div>
</div>
<div class="leftline rightline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px;">
    <table border="0" class="form-find" style="height: 45px;">
        <tr>
            <th>关键字：</th>
            <td>
                <select id="Condition" style="width: 150px;height:25px" onclick="Show()">
                    <option value="all">==全部==</option>
                    <option value="QuaCheckItemCd">检查项编号</option>
                    <option value="QuaCheckItemNm">检查项名称</option>
                    <option value="QuaCheckItemTy">检查项类型</option>
                </select>
            </td>
            <td>
                <input id="keywords" type="text" class="txt" style="width: 200px" />
            </td>
            <td>
                <select id="QuaCheckItemTy" style="width: 150px;height:25px"></select>
            </td>
            <td>
                <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
            </td>
        </tr>
    </table>
</div>
<div class="topline rightline" style="margin: 1px; margin-top: -1px;">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
