@{
    ViewBag.Title = "故障基本信息表";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(function () {
        BindDropItem("#FaultCatg", "FaultCatg", "==全部==");
        BindDropItem("#FaultType", "FaultType", "==全部==");
        GetGrid();
        Show();
    })

    //加载表格
    function GetGrid() {
        $("#gridTable").jqGrid({
        url: "@Url.Content("~/BaseModule/BBdbR_FaultBase/GridPageJson")",
        datatype: "json",
        height: $(window).height() - 150,
        autowidth: true,
        colModel: [
                { label: '主键ID', name: 'FaultId', index: 'FaultId', width: 0, align: 'center', sortable: true, hidden: true },
                { label: '故障编号', name: 'FaultCd', index: 'FaultCd', width: 200, align: 'center', sortable: true },
                { label: '故障名称', name: 'FaultNm', index: 'FaultNm', width: 0, align: 'center', sortable: true },
                { label: '故障类别', name: 'FaultCatg', index: 'FaultCatg', width: 0, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        return CellItem('FaultCatg', cellvalue);
                    }
                },
                { label: '故障类型', name: 'FaultType', index: 'FaultType', width: 0, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        return CellItem('FaultType', cellvalue);
                    }
                 },
                { label: '故障代码', name: 'FaultCode', index: 'FaultCode', width: 0, align: 'center', sortable: true },
                { label: '描述', name: 'Dsc', index: 'Dsc', width: 280, align: 'center', sortable: true },
                {
                   label: '有效性', name: 'Enabled', index: 'Enabled', width: 150, align: 'center', sortable: true,
                       formatter: function (cellvalue, options, rowObject) {
                           if (cellvalue == '1') return "有效";
                           if (cellvalue == '0') return "无效";
                       }
                },
                { label: '版本号', name: 'VersionNumber', index: 'VersionNumber', width: 0, align: 'center', sortable: true, hidden: true },
                { label: '创建时间', name: 'CreTm', index: 'CreTm', width: 0, align: 'center', sortable: true, hidden: true },
                { label: '创建人编号', name: 'CreCd', index: 'CreCd', width: 0, align: 'center', sortable: true, hidden: true },
                { label: '创建人名称', name: 'CreNm', index: 'CreNm', width: 0, align: 'center', sortable: true, hidden: true },
                { label: '修改时间', name: 'MdfTm', index: 'MdfTm', width: 0, align: 'center', sortable: true, hidden: true },
                { label: '修改人编号', name: 'MdfCd', index: 'MdfCd', width: 0, align: 'center', sortable: true, hidden: true },
                { label: '修改人名称', name: 'MdfNm', index: 'MdfNm', width: 0, align: 'center', sortable: true, hidden: true },
                { label: '备注', name: 'Rem', index: 'Rem', width: 150, align: 'center', sortable: true },
        ],
        viewrecords: true,//显示总的记录条数
        rowNum: 30,
        rowList: [30, 50, 100, 500, 1000],
        pager: "#gridPager",
        sortname: '',
        sortorder: 'desc',
        rownumbers: true,
        multiselect: true,
        multiboxonly: true,
        shrinkToFit: true,
        gridview: true,
        loadonce: true,
    });
    }
    //加载搜索框
    function Show() {
        var Condition = $("#Condition").val();
        if (Condition == "all") {
            $("#FaultCatg").hide();
            $("#FaultType").hide();
            $("#keywords").hide();
        }
        else if (Condition == "FaultCatg") {
            $("#FaultCatg").show();
            $("#keywords").hide();
            $("#FaultType").hide();
        }
        else if (Condition == "FaultType") {
            $("#FaultType").show();
            $("#FaultCatg").hide();
            $("#keywords").hide();
        }
        else {
            $("#FaultCatg").hide();
            $("#FaultType").hide();
            $("#keywords").show();
        }
    }
    //刷新
    function windowload() {
        $("#gridTable").setGridParam({ datatype: 'json', page: 1 }).trigger("reloadGrid");
    }
    //新增按钮
    function btn_add() {
        var url = "/BaseModule/BBdbR_FaultBase/Form"
        openDialog(url, "Form", "新增停线原因", 500, 300, function (iframe) {
            top.frames[iframe].AcceptClick()
        });
    }
    //编辑按钮
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "FaultId");
        if (KeyValue == undefined) {
            tipDialog("您没有选中任何项，请选择后在操作", 3, -5);
            return;
        }
        var url = "/BaseModule/BBdbR_FaultBase/Form?KeyValue=" + KeyValue;
        openDialog(url, "Form", "编辑停线原因", 500, 300, function (iframe) {
            top.frames[iframe].AcceptClick()
        });
    }
    //删除
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "FaultId");
        if (IsDelData(KeyValue)) {
            var delparm = 'KeyValue=' + KeyValue;
            delConfig('/BaseModule/BBdbR_FaultBase/Delete', delparm, KeyValue.split(",").length);
            //windowload();
        }
    }

    //搜索
    function btn_Search() {
        var Condition = $("#Condition").val();
        var keywords;
        if (Condition=="FaultCatg") {
            keywords = $("#FaultCatg").val();
        }
        else if (Condition == "FaultType") {
            keywords = $("#FaultType").val();
        }
        else {
            keywords = $("#keywords").val();
        }
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/BaseModule/BBdbR_FaultBase/GridPageByCondition")?keywords=" + escape(keywords) + "&Condition=" + escape(Condition), page: 1, datatype: 'json'
    }).trigger('reloadGrid');
    }
    $(document).keypress(function (e) {
        // 回车键事件
        if (e.which == 13) {
            btn_Search();
        }
    });

    //导出Excel
    function btn_derive() {
        SetDeriveExcel("#gridTable", "故障类别" );
        openDialog("/CommonModule/ExcelImport/DeriveDialog", "DeriveDialog", "故障类别导出", 600, 300, function (iframe) {
            top.frames[iframe].AcceptClick();
        });
    }

    //导入
    function btn_import() {
        openDialog("/BaseModule/BBdbR_FaultBase/ExcelImportDialog", "ExcelImportDialog", "故障类别信息导入", 750, 300, function (iframe) {
            top.frames[iframe].AcceptClick();
        });
    }

    //根据数据字典显示内容
    function CellItem(Code, cellvalue) {
        var value = "";
        getAjax('/CommonModule/DataDictionary/BinDingItemsJson', { Code: Code }, function (data) {
            var itemjson = eval("(" + data + ")");
            $.each(itemjson, function (i) {
                if (itemjson[i].Code == cellvalue) {
                    value = itemjson[i].FullName;
                }
            });
        })
        return value;
    }
</script>
<div class="leftline rightline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px;">
    @*按钮区域*@
    <div class="tools_bar" style="margin-top: 1px; margin-bottom: 0px;">
        <div class="PartialButton">
            @Html.Partial("_PartialButton")
        </div>
    </div>
    @*搜索框区域*@
    <table border="0" class="form-find" style="height: 45px;">
        <tr>
            <th>关键字：</th>
            <td>
                <select id="Condition" style="width: 150px;height:25px" onclick="Show()">
                    <option value="all">==全部==</option>
                    <option value="FaultCd">故障编号</option>
                    <option value="FaultNm">故障名称</option>
                    <option value="FaultCatg">故障类别</option>
                    <option value="FaultType">故障类型</option>
                </select>
            </td>
            <td>
                <input id="keywords" type="text" class="txt" style="width: 150px" />
            </td>
            <td>
                <select id="FaultCatg" style="width: 150px;height:25px" onclick="btn_Search()"></select>

            </td>
            <td>
                <select id="FaultType" style="width: 150px;height:25px" onclick="btn_Search()"></select>

            </td>
            <td>
                <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
            </td>
        </tr>
    </table>
    @*</div>*@
    @*表格区域*@
    <div class="topline rightline" style="margin: 1px; margin-top: -1px;">
        <table id="gridTable"></table>
        <div id="gridPager"></div>
    </div>
</div>

