<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>安驰FAS-发动机分装拧紧界面</title>
    <title>江淮安驰FAS系统</title>
    <link href="~/Content/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!--框架必需start-->
    <link href="~/Content/Styles/HfutIEui-startmenu.css" rel="stylesheet" />
    <link href="~/Content/Styles/HfutIEui-framework.css" rel="stylesheet" />
    <script src="~/Content/Scripts/jquery/jquery-1.8.2.min.js"></script>
    <script src="~/Content/Scripts/HfutIEui-framework.js"></script>
    <!--框架必需end-->
    <!--引入弹窗组件start-->
    <script src="~/Content/Scripts/lhgdialog/lhgdialog.min.js"></script>
    <!--引入弹窗组件end-->
    <!--自定义滚动条组件start-->
    <script src="~/Content/Scripts/scrollbar/scrollbar.js"></script>
    <!--自定义滚动条组件end-->
    <!--日期组件start-->
    <script src="~/Content/Scripts/datepicker/WdatePicker.js"></script>
    <!--日期组件start-->
    <script src="~/Content/Scripts/Index.js"></script>
    <!--页面必备-->
    <link rel="stylesheet" href="~/Content/Styles/Tg_Only.css" type="text/css">
    <script src="~/Content/Scripts/mqtt/mqttws31.min.js"></script>
    <script src="~/Content/sweetalert/sweetalert-dev.js"></script>
    <link rel="stylesheet" href="~/Content/sweetalert/sweetalert.css" type="text/css">
    <link rel="stylesheet" href="~/Content/sweetalert/alertLogin.css" type="text/css">

    <script src="~/Content/Scripts/Tg_Only.js"></script>
    <script src="~/Content/Scripts/jquery/jQuery.md5.js"></script>
    <style type="text/css">
        /*滚动条*/
        *::-webkit-scrollbar { /*滚动条整体样式*/
            width: 18px; /*高宽分别对应横竖滚动条的尺寸*/
            height: 1px;
        }

        *::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
            border-radius: 10px;
            background-color: #a5a099;
            background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
            /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            background: #535353;*/
        }

        *::-webkit-scrollbar-track { /*滚动条里面轨道*/
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            /*border-radius: 10px;*/
            background: #EDEDED;
        }

        fieldset {
            display: none;
        }
    </style>
    <script>
        $(document).ready(function () {
            Initialize();
        });
        //1.全局变量
        //1.1初始加载静态信息
        var allStaticInfo;
        //1.5mqtt实例
        var client;
        //辅助判断是否自己发送消息
        var gid = guid();
        
        //初始化加载
        function Initialize() {
            try {
                SetAllWH();         //加载界面的宽高
                GetCurrentDate();   //实时时间刷新
                GetStaticInfo();    //加载静态信息
                bindKeyDown("vin_input", function () {
                   let vin = $("#vin_input").val().trim().toUpperCase();
                    $("#vin_input").val("");
                    if (vin.length < 18) {
                        var topic = "/KeyParts/ScanTighten/" + allStaticInfo.WcId;
                        var msg = `1_${vin}`;
                        publishMqtt(msg, topic);//拧紧控制
                        carStartTighten(allStaticInfo, vin);//界面显示
                    }
                });                 //为VIN输入框绑定回车事件
                $("#vin_input").focus();
            } catch (e) {
                uperrorLog("HTML初始化错误:【错误信息：" + e + "】");
            }
        }
       
        //界面加载时获取车身信息
        function getCarMain() {
            AjaxJson("/TightOnly/NowTaskFZ", {}, function (data) {
                var topic = "/KeyParts/ScanTighten/" + allStaticInfo.WcId;
                var msg = `1_${vin}`;
                publishMqtt(msg, topic);//拧紧控制
                carStartTighten(allStaticInfo, data);
            });
        }

        //连接Mqtt
        function MqttConnect() {
            try {
                client = new Paho.MQTT.Client("10.138.13.3", 8083, "partsBind" + allStaticInfo.WcId + gid);//建立客户端实例
                //client = new Paho.MQTT.Client("10.138.13.252", 8083, "partsBind" + allStaticInfo.WcId + gid);//建立客户端实例
                //client = new Paho.MQTT.Client("172.20.10.5", 8083, "partsBind" + allStaticInfo.WcId + gid);
                client.connect({
                    userName: "admin",
                    password: "public",
                    onSuccess: onConnect,
                    onFailure: onFailConnect
                });
                //连接服务器并注册连接成功处理事件
                client.onConnectionLost = onConnectionLost;//注册连接断开处理事件
                client.onMessageArrived = onMessageArrived;//注册消息接收处理事件
                client.onMessageDelivered = onMessageDelivered;//注册消息发布事件
            } catch (e) {
                uperrorLog("消息队列错误:【工位：" + allStaticInfo.WcNm + "】【异常信息：" + e + "！无法进行正常作业！！】");
            }
        }

        //连接成功回调
        function onConnect() {
           
            try {
                subscribe("/KeyParts/TightenData/" + allStaticInfo.WcId);
            } catch (e) {
                uperrorLog("订阅消息错误:【工位：" + allStaticInfo.WcNm + "】【错误信息：" + e + "无法进行正常作业！！】");
            }
           
            getCarMain();
        }

        //4.1mqtt接收消息后处理
        function mqttMsgArrived(topic, msg) {
            if (topic == "/KeyParts/TightenData/" + allStaticInfo.WcId) {
                var Message = jQuery.parseJSON(msg);
                var ControllerID = Message.ControllerID;
                var ControllerPort = Message.ControllerPort;
                var Ord = Message.Ord;
                var Num = Message.Num;
                var Torque = Message.Torque;
                var Angle = Message.Angle;
                var temp_isok = `tighten_isOK_${ControllerID}_${ControllerPort}_${Num}_${Ord}`;
                var temp_tt = `tighten_TT_${ControllerID}_${ControllerPort}_${Num}_${Ord}`;
                var temp_aa = `tighten_AA_${ControllerID}_${ControllerPort}_${Num}_${Ord}`;

                try {
                    var _isok = document.getElementById(temp_isok);
                    var _tt = document.getElementById(temp_tt);
                    var _aa = document.getElementById(temp_aa);

                    _isok.className = "tighten_box_2_is_OK";
                    _isok.innerHTML = "OK";
                    _tt.innerHTML = Torque;
                    _aa.innerHTML = Angle + "°";
                } catch (e) {

                }
            }
        }
       

        //4.Mqtt
        //4.2连接失败回调
        function onFailConnect() {
            uperrorLog("设备连接错误:【工位：" + allStaticInfo.WcNm + "】【异常信息：设备连接失败！界面刷新】");
            window.location.reload();
        }
        //4.3连接断开回调
        function onConnectionLost(requestObject) {
            if (requestObject.errorCode !== 0) {
                uperrorLog("设备连接断开:【工位：" + allStaticInfo.WcNm + "】【异常信息：设备连接失败！无法进行正常作业！！】");
                window.location.reload();
            }
        }
        //4.4消息接收回调
        function onMessageArrived(message) {
            mqttMsgArrived(message.destinationName,message.payloadString);
        }
        //4.5发布消息
        function publishMqtt(text,topic) {
            var message = new Paho.MQTT.Message(text);
            message.destinationName = topic;
            message.qos = 1;
            client.send(message);
        }
        //4.5消息发布回调
        function onMessageDelivered(requestObject) {
            console.log(requestObject);
        }
        //4.6订阅主题
        function subscribe(filter) {
            client.subscribe(filter);
            console.log(filter);
        }
        //4.7取消订阅
        function unsubscribe(filter) {
            client.unsubscribe(filter);
            console.log("unsubscribe");
        }
        //4.8断开连接
        function disconnect() {
            client.disconnect();
        }
        
       
        function byPassTighten(obj) {
            var ID = `total_job_${obj.id}`;
            var IsOk = 0;
            $(".tighten_box_2_is_NOK").each(function () {
                if ($(this).parent()[0].id== ID){
                    IsOk = 1;
                    return false;
            }
            })
            if (IsOk == 0) {
                uperrorLog("Pass错误：【工位：" + allStaticInfo.WcNm + "】【错误信息：该Job已完成不需要Pass】");
            }
            else {
                var rst=byPassTgFun(allStaticInfo, obj, "辅线", "1", obj.id);
                //成功则将其变为不可用
                if (rst == 1) {
                    $("#" + obj.id).attr("class", "Tighten_btn_passed");
                    $("#" + obj.id).attr("onclick", "");
                }
            }
        }
    </script>
</head>

<body>
    <div class="all" id="all" style="position:relative">
        
        <div class="up" id="up">
            <div id="logo_img" class="logo_img">
                <img id="refinelogo" src="~/Content/Images/LOGO/logoRefine.png" alt="refineLogo" align="middle" />
            </div>
            <div class="up_box baclground" id="up_localtime">
                <div id="localtime" class="p_in_upbox" style="font-size: 15px;"></div>
                <p id="localtime_dis" class="p_mark_in_upbox">时间</p>
            </div>
            <div class="up_box baclground" id="up_station">
                <div id="station" class="p_in_upbox" style="font-size: 15px;">工位</div>
                <p id="station_dis" class="p_mark_in_upbox">工位</p>
            </div>
            <div class="up_box baclground" id="up_people" title="人员等级">
                <div id="people" class="p_in_upbox" style="font-size: 15px;">人员</div>
                <p id="people_dis" class="p_mark_in_upbox">人员</p>
            </div>
            <div class="up_box baclground" id="up_button">
                <div class="up_button" id="videoButton" onclick="getVideo()">
                    <img src="../Content/Images/Icon32/file_manager.png" />
                    <br />
                    工艺指导文件
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="down" id="down">
            <div class="left" id="left">
                <div id="car_img" class="car_img">
                    <img id='productpicture' alt="车身照片" onclick="imgShow(this)" onerror="javascript:this.src='/Content/Images/LOGO/logoM5.jpg'" />
                </div>
                <div class="left_box" id="vin_box">
                    <div id="vin" class="in_left_box baclground">
                        条码
                    </div>
                </div>
                <div class="left_box" id="sequence_box">
                    <div id="sequence" class="in_left_box baclground">
                        图号
                    </div>
                </div>
                <div class="left_box left_box_small" id="color_box">
                    <div id="color" class="in_left_box in_left_box_small baclground">
                        供应商
                    </div>
                </div>
                <div class="left_box left_box_small" id="cartype_box">
                    <div id="cartype" class="in_left_box in_left_box_small baclground">
                        批次号
                    </div>
                </div>
                <div class="clear"></div>
                <div class="left_box" id="car_dis_box" style="height:15%">
                    <div class="in_left_box baclground">
                        <div id="car_dis" class="in_left_box baclground">
                            车身描述
                        </div>
                    </div>
                </div>
                <div class="left_box" id="engintype_box">
                    <div id="engintype" class="in_left_box" style="background-color:inherit">
                    </div>
                </div>
                <div class="left_box" id="vin_input_box">
                    <input id="vin_input" class="input_text" type="text" placeholder="请输入条码">
                </div>
                <div class="clear"></div>
            </div>

            <div class="main" id="main">
                <div class="main_box main_box_left" id="main_left">
                    <div class="main_title" id="instruction_dis">
                        装配指示
                    </div>
                    <div class="in_main_box_left" id="in_main_box_left">
                    </div>
                </div>
                <div class="main_box main_box_right" id="main_right">
                    <div class="main_title" id="instruction_dis">
                        拧紧作业指示
                    </div>
                    <div id="Tighten" class="tighten_box_1" style="width:100%;"></div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="bottom" id="bottom">
                <div id="bottem_dis">
                    日志信息
                </div>
                <div id="bottom_text">
                </div>
            </div>

            <div class="clear"></div>
        </div>


    </div>
    <!-- 图片放大时使用 -->
    <div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
        <div id="innerdiv" style="position:absolute;">
            <img id="max_img" style="border:5px solid #fff;" src="" />
        </div>
    </div>
</body>

</html>

