@{
    ViewBag.Title = "调度规则基本信息表》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    $(function () {
        BindDropItem("#SchedulRuleGrade", "SchedulRuleGrade", "==全部==");
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/BaseModule/BBdbR_SchedulRuleBase/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
                document.getElementById("SchedulRuleCd").readOnly = true;
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!(checkHasOne(KeyValue))) {
            return false;
        }
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/BaseModule/BBdbR_SchedulRuleBase/SubmitForm?KeyValue=" + KeyValue, postData, function (data) {
            if (data.Message == "该编号已经存在！" || data.Message == "该名称已经存在！") {
                tipCss("SchedulRuleCd", data.Message);
                return;
            }
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr style=" height:30px">
            <th class='formTitle'>规则编号：</th>
            <td class='formValue'>
                <input id="SchedulRuleCd" maxlength=100 type="text" class="txt required" datacol="yes" err="规则编号" checkexpession="NotNull" checkdata="hasOne" />
            </td>
        </tr>
        <tr style=" height:30px">
            <th class='formTitle'>规则名称：</th>
            <td class='formValue'>
                <input id="SchedulRuleNm" maxlength=100 type="text" class="txt required" datacol="yes" err="规则名称" checkexpession="NotNull" checkdata="hasOne" />
            </td>
        </tr>
        <tr style=" height:30px">
            <th class='formTitle'>规则内容：</th>
            <td class='formValue'>
                <input id="SchedulRuleContent" maxlength=100 type="text" class="txt required" datacol="yes" err="规则内容" checkexpession="NotNull" checkdata="hasOne" />
            </td>
        </tr>
        <tr style=" height:30px">
            <th class='formTitle'>规则等级：</th>
            <td class='formValue'>
                <select id="SchedulRuleGrade" maxlength=100 type="text" class="txt required checkdata" checkexpession="NotNull" datacol="yes" err="规则等级" onclick=""></select>
            </td>
        </tr>
        <tr style=" height:30px">
            <th class='formTitle'>有效性：</th>
            <td class='formValue'>
                <select id="Enabled" maxlength=100 type="text" class="txt required checkdata" checkexpession="NotNull" datacol="yes" err="有效性" onclick="">
                    <option value="1">有效</option>
                    <option value="0">无效</option>
                </select>
            </td>
        </tr>
        <!--以下不显示-->
        <tr style="display: none">
            <th class='formTitle'>规则主键：</th>
            <td class='formValue'>
                <input id="SchedulRuleId" maxlength=50 type="text" class="txt" />
            </td>
        </tr>
        <tr>
        </tr>
    </table>
</form>
