@{
    ViewBag.Title = "班组人员配置表";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(function () {
        GetGrid_up();
        GetGrid_down();
        GetGrid_up_1();
        GetGrid_down_1();
        Tabchange('Staff');
    })
    var TeamId = GetQuery('TeamId');

    //人员配置加载上层表格
    function GetGrid_up() {
        $("#gridTable_up").jqGrid({
            url: "/BaseModule/BFacR_TeamBase/Right_GridReStaffListJson?value=" + TeamId,
            datatype: "json",
            //height: $(window).height()/2 - 150,
            autowidth: false,
            //width: 850,
            height: 170,
            colModel: [
                    { label: '人员主键', name: 'StfId', index: 'StfId', width: 0, align: 'left', sortable: true, hidden: true },
                    { label: '员工编号', name: 'StfCd', index: 'StfCd', width: 0, align: 'center', sortable: true },
                    { label: '员工姓名', name: 'StfNm', index: 'StfNm', width: 0, align: 'center', sortable: true },
                    {
                        label: '性别', name: 'StfGndr', index: 'StfGndr', width: 0, align: 'center', sortable: true,
                        formatter: function (cellvalue, options, rowObject) {
                            if (cellvalue == '1') return "女";
                            if (cellvalue == '0') return "男";
                        }
                    },
                    { label: '手机号', name: 'Phn', index: 'Phn', width:0, align: 'center', sortable: true },
                    { label: '人员类型', name: 'StfTyp', index: 'StfTyp', width: 0, align: 'center', sortable: true },
                    { label: '人员职位', name: 'StfPosn', index: 'StfPosn', width: 0, align: 'center', sortable: true },
                    { label: '人员职称', name: 'StfTitl', index: 'StfTitl', width: 0, align: 'center', sortable: true },
            ],
            viewrecords: true,//显示总的记录条数
            rowNum: 10,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager_up",
            sortname: '',
            sortorder: 'desc',
            sortname: '',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            loadonce: true,
            gridview: true,
            cellEdit: true,
            cellsubmit: 'clientArray',
            ondblClickRow: function (RowId) {
                //var IDs = $("#gridTable_down").jqGrid('getDataIDs');//获取grid1的行数
                var id = GetJqGridRowValue("#gridTable_up", "StfId");
                var code = GetJqGridRowValue("#gridTable_up", "StfCd");
                var fullname = GetJqGridRowValue("#gridTable_up", "StfNm");
                var type = GetJqGridRowValue("#gridTable_up", "StfGndr");
                var phone = GetJqGridRowValue("#gridTable_up", "Phn");
                var StfTyp = GetJqGridRowValue("#gridTable_up", "StfTyp");
                var StfPosn = GetJqGridRowValue("#gridTable_up", "StfPosn");
                var StfTitl = GetJqGridRowValue("#gridTable_up", "StfTitl");
                var equipment = TeamId;//获取grid1选中行的数据
                if (TeamId != "") {
                    //if (IDs.length == 0) {
                    $("#gridTable_down").jqGrid("addRowData", RowId, equipment, "last");//将grid选中行数据复制给grid1中新增的行
                    $("#gridTable_down").jqGrid("setRowData", RowId, {
                        StfId: id, StfCd: code, StfNm: fullname,
                        StfGndr: type, Phn: phone, StfTyp: StfTyp, StfPosn: StfPosn, StfTitl: StfTitl
                    });//将grid选中行数据复制给grid1中新增的行
                    $("#gridTable_up").jqGrid("delRowData", RowId);//删除grid选中行的数据
                }
                else {
                    alertDialog("请先选择班组，再进行人员配置！")
                }
            }
        });
    }

    //人员已配置表格
    function GetGrid_down() {
        $("#gridTable_down").jqGrid({
            url: "/BaseModule/BFacR_TeamBase/Right_GridStaffListJson?value=" + TeamId,
            datatype: "json",
            //height: $(window).height()/2-140,
            //width: 850,
            height: 170,
            autowidth: false,
            colModel: [
                { label: '人员主键', name: 'StfId', index: 'StfId', width: 0, align: 'left', sortable: true, hidden: true },
                { label: '员工编号', name: 'StfCd', index: 'StfCd', width: 0, align: 'center', sortable: true },
                { label: '员工姓名', name: 'StfNm', index: 'StfNm', width: 0, align: 'center', sortable: true },
                {
                    label: '性别', name: 'StfGndr', index: 'StfGndr', width: 0, align: 'center', sortable: true,hidden: true ,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1') return "女";
                        if (cellvalue == '0') return "男";
                    }
                },
                { label: '手机号', name: 'Phn', index: 'Phn', width: 0, align: 'center', sortable: true },
                { label: '人员类型', name: 'StfTyp', index: 'StfTyp', width: 0, align: 'center', sortable: true },
                { label: '人员职位', name: 'StfPosn', index: 'StfPosn', width: 0, align: 'center', sortable: true },
                { label: '人员职称', name: 'StfTitl', index: 'StfTitl', width: 0, align: 'center', sortable: true },
            ],
            viewrecords: true,//显示总的记录条数
            rowNum: 10,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager_down",
            sortname: '',
            sortorder: 'desc',
            sortname: '',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            loadonce: true,
            gridview: true,
            cellEdit: true,
            cellsubmit: 'clientArray',

            ondblClickRow: function (RowId) {
                //var IDs = $("#gridTable_down").jqGrid('getDataIDs');//获取grid1的行数
                var id = GetJqGridRowValue("#gridTable_down", "StfId");
                var code = GetJqGridRowValue("#gridTable_down", "StfCd");
                var fullname = GetJqGridRowValue("#gridTable_down", "StfNm");
                var type = GetJqGridRowValue("#gridTable_down", "StfGndr");
                var phone = GetJqGridRowValue("#gridTable_down", "Phn");
                var StfTyp = GetJqGridRowValue("#gridTable_down", "StfTyp");
                var StfPosn = GetJqGridRowValue("#gridTable_down", "StfPosn");
                var StfTitl = GetJqGridRowValue("#gridTable_down", "StfTitl");
                var equipment = TeamId;//获取grid1选中行的数据
                if (TeamId != "") {
                    //if (IDs.length == 0) {
                    $("#gridTable_up").jqGrid("addRowData", RowId, equipment, "last");//将grid选中行数据复制给grid1中新增的行
                    $("#gridTable_up").jqGrid("setRowData", RowId, {
                        StfId: id, StfCd: code, StfNm: fullname,
                        StfGndr: type, Phn: phone, StfTyp: StfTyp, StfPosn: StfPosn, StfTitl: StfTitl
                    });//将grid选中行数据复制给grid1中新增的行
                    $("#gridTable_down").jqGrid("delRowData", RowId);//删除grid选中行的数据
                }
            },
            beforeEditCell: function (rowid, cellname, value, iRow, iCol) {
                lastrow = iRow;//行号
                lastcell = iCol;//列号
            }
        });
        jQuery("#gridTable_down").jqGrid('navGrid', '#pgwidth', { edit: false, add: false, del: false });
    }

    //产线配置加载上层表格
    function GetGrid_up_1() {
        $("#gridTable_up_1").jqGrid({
            url: "/BaseModule/BFacR_TeamBase/GridListJson_Up_1?value=" + TeamId,
        datatype: "json",
        autowidth: false,
        height: 170,
        colModel: [
                { label: '产线主键', name: 'PlineId', index: 'PlineId', width: 0, align: 'left', sortable: true, hidden: true },
                { label: '产线编号', name: 'PlineCd', index: 'PlineCd', width: 120, align: 'center', sortable: true },
                { label: '产线名称', name: 'PlineNm', index: 'PlineNm', width: 100, align: 'center', sortable: true },
                {
                    label: '产线类型', name: 'PlineTyp', index: 'PlineTyp', width: 80, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        return CellItem('PlineTyp', cellvalue);
                    }
                },
            { label: 'JPH', name: 'WspJPH', index: 'WspJPH', width: 90, align: 'center', sortable: true },
            { label: '缓存上限', name: 'CacheQantity', index: 'CacheQantity', width: 90, align: 'center', sortable: true },
            { label: '缓存下限', name: 'CacheLimit', index: 'CacheLimit', width: 90, align: 'center', sortable: true },
        ],
        viewrecords: true,//显示总的记录条数
        rowNum: 10,
        rowList: [30, 50, 100, 500, 1000],
        pager: "#gridPager_up_1",
        sortname: '',
        sortorder: 'desc',
        sortname: '',
        sortorder: 'desc',
        rownumbers: true,
        shrinkToFit: true,
        loadonce: true,
        gridview: true,
        cellEdit: true,
        cellsubmit: 'clientArray',
        ondblClickRow: function (RowId) {
            //var IDs = $("#gridTable_down").jqGrid('getDataIDs');//获取grid1的行数
            var id = GetJqGridRowValue("#gridTable_up_1", "PlineId");
            var code = GetJqGridRowValue("#gridTable_up_1", "PlineCd");
            var fullname = GetJqGridRowValue("#gridTable_up_1", "PlineNm");
            var type = GetJqGridRowValue("#gridTable_up_1", "PlineTyp");
            var WspJPH = GetJqGridRowValue("#gridTable_up_1", "WspJPH");
            var CacheQantity = GetJqGridRowValue("#gridTable_up_1", "CacheQantity");
            var CacheLimit = GetJqGridRowValue("#gridTable_up_1", "CacheLimit");
            var equipment = TeamId;//获取grid1选中行的数据
            if (TeamId != "") {
                $("#gridTable_down_1").jqGrid("addRowData", RowId, equipment, "last");//将grid选中行数据复制给grid1中新增的行
                $("#gridTable_down_1").jqGrid("setRowData", RowId, {
                    PlineId: id, PlineCd: code, PlineNm: fullname,
                    PlineTyp: type, WspJPH: WspJPH, CacheQantity: CacheQantity, CacheLimit: CacheLimit,
                });//将grid选中行数据复制给grid1中新增的行
                $("#gridTable_up_1").jqGrid("delRowData", RowId);//删除grid选中行的数据
            }
            else {
                alertDialog("请先选择班组，再进行产线配置！")
            }
        }
    });
    }

    //产线配置已配置表格
    function GetGrid_down_1() {
        $("#gridTable_down_1").jqGrid({
            url: "/BaseModule/BFacR_TeamBase/Right_GridPlineListJson?value=" + TeamId,
            datatype: "json",
            height: 170,
            autowidth: false,
            colModel: [
                { label: '产线主键', name: 'PlineId', index: 'PlineId', width: 0, align: 'left', sortable: true, hidden: true },
                { label: '产线编号', name: 'PlineCd', index: 'PlineCd', width: 120, align: 'center', sortable: true },
                { label: '产线名称', name: 'PlineNm', index: 'PlineNm', width: 100, align: 'center', sortable: true },
                {
                    label: '产线类型', name: 'PlineTyp', index: 'PlineTyp', width: 90, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        return CellItem('PlineTyp', cellvalue);
                    }
                },
                { label: 'JPH', name: 'WspJPH', index: 'WspJPH', width: 90, align: 'center', sortable: true },
                { label: '缓存上限', name: 'CacheQantity', index: 'CacheQantity', width: 90, align: 'center', sortable: true },
                { label: '缓存下限', name: 'CacheLimit', index: 'CacheLimit', width: 90, align: 'center', sortable: true },
            ],
            viewrecords: true,//显示总的记录条数
            rowNum: 10,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager_down_1",
            sortname: '',
            sortorder: 'desc',
            sortname: '',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            loadonce: true,
            gridview: true,
            cellEdit: true,
            cellsubmit: 'clientArray',
            ondblClickRow: function (RowId) {
                //var IDs = $("#gridTable_down").jqGrid('getDataIDs');//获取grid1的行数
                var id = GetJqGridRowValue("#gridTable_down_1", "PlineId");
                var code = GetJqGridRowValue("#gridTable_down_1", "PlineCd");
                var fullname = GetJqGridRowValue("#gridTable_down_1", "PlineNm");
                var type = GetJqGridRowValue("#gridTable_down_1", "PlineTyp");
                var WspJPH = GetJqGridRowValue("#gridTable_down_1", "WspJPH");
                var CacheQantity = GetJqGridRowValue("#gridTable_down_1", "CacheQantity");
                var CacheLimit = GetJqGridRowValue("#gridTable_down_1", "CacheLimit");
                var equipment = TeamId;//获取grid1选中行的数据
                if (TeamId != "") {
                    $("#gridTable_up_1").jqGrid("addRowData", RowId, equipment, "last");//将grid选中行数据复制给grid1中新增的行
                    $("#gridTable_up_1").jqGrid("setRowData", RowId, {
                        PlineId: id, PlineCd: code, PlineNm: fullname,
                        PlineTyp: type, WspJPH: WspJPH, CacheQantity: CacheQantity, CacheLimit: CacheLimit,
                    });//将grid选中行数据复制给grid1中新增的行
                    $("#gridTable_down_1").jqGrid("delRowData", RowId);//删除grid选中行的数据
                }
                else {
                    alertDialog("请先选择班组，再进行产线配置！")
                }
            },
            beforeEditCell: function (rowid, cellname, value, iRow, iCol) {
                lastrow = iRow;//行号
                lastcell = iCol;//列号
            }
        });
        jQuery("#gridTable_down_1").jqGrid('navGrid', '#pgwidth', { edit: false, add: false, del: false });
    }


    //刷新
    function windowload() {
        $("#gridTable_up").trigger("reloadGrid"); //重新载入
        $("#gridTable_down").trigger("reloadGrid"); //重新载入
        $("#gridTable_up_1").trigger("reloadGrid"); //重新载入
        $("#gridTable_down_1").trigger("reloadGrid"); //重新载入
    }

    //确认配置人员
    function btn_accept() {
        var ids = $("#gridTable_down").jqGrid("getRowData"); //获取gridSelectTable表中多行数据
        AjaxJson('/BaseModule/BFacR_TeamBase/SubmitStaffConfig?', { listdto: ids, TeamId: TeamId }, function (data) {
            var t = data;
            if (t.Code == "1")//提交成功
            {
                alertDialog("提交成功！")
                $("#gridTable_down").trigger('reloadGrid');
                top.frames[tabiframeId()].windowload();
                //closeDialog();
            }
            else {
                alertDialog("提交失败！", '-1');
                closeDialog();
            }
        });
    }

    //确认配置产线
    function btn_accept2() {
        var ids = $("#gridTable_down_1").jqGrid("getRowData"); //获取gridSelectTable表中多行数据
        AjaxJson('/BaseModule/BFacR_TeamBase/SubmitStaffConfig1?', { listdto: ids, TeamId: TeamId }, function (data) {
            var t = data;
            if (t.Code == "1")//提交成功
            {
                alertDialog("提交成功！")
                $("#gridTable_down_1").trigger('reloadGrid');
                top.frames[tabiframeId()].windowload();
                //closeDialog();
            }
            else {
                alertDialog("提交失败！", '-1');
                closeDialog();
            }
        });
    }

    //根据数据字典显示内容
    function CellItem(Code, cellvalue) {
        var value = "";
        getAjax('/CommonModule/DataDictionary/BinDingItemsJson', { Code: Code }, function (data) {
            var itemjson = eval("(" + data + ")");
            $.each(itemjson, function (i) {
                if (itemjson[i].Code == cellvalue) {
                    value = itemjson[i].FullName;
                }
            });
        })
        return value;
    }
</script>

<div id="message" style="display: none; padding: 1px; padding-bottom: 0px;"></div>
<div class="bd" style="border-bottom: none; margin: 1px;">
    <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
        <div class="tab_list_top" style="position: absolute">
            <div id="Tabbasic" class="tab_list bd actived" onclick="Tabchange('Staff')">配置人员</div>
            <div id="Tabwork" class="tab_list bd " onclick="Tabchange('Pline')">配置产线</div>
        </div>
    </div>
</div>
<div class="ScrollBar" style="margin: 1px; overflow: hidden;">
    <!--配置人员-->
    <div id="Staff" class="tabPanel">
        <div class="leftline rightline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px">
            <div class="leftline rightline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px">
                <div class="note-prompt" style="margin: 1px;">
                    温馨提示：双击上表增加配置班组人员；双击下表删除班组配置人员。
                </div>
                <div style="background-color:gainsboro ;color:#27a4aB;font-size:medium;width:100%;font-weight: bold">
                    &nbsp操作按钮<span class="ModuleName"></span>
                </div>
                <div class="tools_bar leftline rightline" style="margin-bottom: 0px; margin: 1px;">
                    <div class="PartialButton">
                        <a id="lr-replace" ids="lr-replace" title="刷新当前" onclick="Replace()" class="tools_btn">
                            <span>
                                <b style="background: url('../../Content/Images/Icon16/arrow_refresh.png') 50% 4px no-repeat;">刷新</b>
                            </span>
                        </a>
                        <div class="tools_separator"></div>
                        <a id="lr-add" ids="lr-add" title="确认此项配置" onclick="btn_accept()" class="tools_btn">
                            <span>
                                <b style="background: url('../../Content/Images/Icon16/accept.png') 50% 4px no-repeat;">确认配置</b>
                            </span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div id="layout">

            <div>
                <div class="btnbartitle">
                    <div>
                        未配置员工
                    </div>
                </div>
                <div class="topline rightline" style="margin: 1px; margin-top: -1px;">
                    <table id="gridTable_up"></table>
                    <div id="gridPager_up" @*style="height:50px;background-color:transparent;position:relative"*@></div>
                </div>
                <div class="btnbartitle">
                    <div>
                        已配置员工
                    </div>
                </div>
                <div class="topline rightline" style="margin: 1px; margin-top: -1px;">
                    <table id="gridTable_down"></table>
                    <div id="gridPager_down"></div>
                </div>
            </div>
        </div>
    </div>
    <!--配置产线-->
    <div id="Pline" class="tabPanel">
        <div class="leftline rightline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px">
            <div class="leftline rightline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px">
                <div class="note-prompt" style="margin: 1px;">
                    温馨提示：双击上表增加配置产线；双击下表删除班组配置产线。
                </div>
                <div style="background-color:gainsboro ;color:#27a4aB;font-size:medium;width:100%;font-weight: bold">
                    &nbsp操作按钮<span class="ModuleName"></span>
                </div>
                <div class="tools_bar leftline rightline" style="margin-bottom: 0px; margin: 1px;">
                    <div class="PartialButton">
                        <a id="lr-replace" ids="lr-replace" title="刷新当前" onclick="Replace()" class="tools_btn">
                            <span>
                                <b style="background: url('../../Content/Images/Icon16/arrow_refresh.png') 50% 4px no-repeat;">刷新</b>
                            </span>
                        </a>
                        <div class="tools_separator"></div>
                        <a id="lr-add" ids="lr-add" title="确认此项配置" onclick="btn_accept2()" class="tools_btn">
                            <span>
                                <b style="background: url('../../Content/Images/Icon16/accept.png') 50% 4px no-repeat;">确认配置</b>
                            </span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div id="layout">

            <div>
                <div class="btnbartitle">
                    <div>
                        未配置产线
                    </div>
                </div>
                <div class="topline rightline" style="margin: 1px; margin-top: -1px;">
                    <table id="gridTable_up_1"></table>
                    <div id="gridPager_up_1" @*style="height:50px;background-color:transparent;position:relative"*@></div>
                </div>
                <div class="btnbartitle">
                    <div>
                        已配置产线
                    </div>
                </div>
                <div class="topline rightline" style="margin: 1px; margin-top: -1px;">
                    <table id="gridTable_down_1"></table>
                    <div id="gridPager_down_1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
