@{
    ViewBag.Title = "工艺段基础信息表》表单页面";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    var WorkshopId = GetQuery('areaId');//主键
    $(function () {
        BindDropItem("#WorkSectionTy", "WorkSectionTy", "==全部==");
        StaffList();
        InitControl();
    })

    //加载人员列表
    function StaffList() {
        AjaxJson("/BaseModule/BBdbR_WorkSectionBase/GetWorkSectionNm", {}, function (data) {
            for (var i = 0; i < data.rows.length; i++) {
                $("#StfId").append("<option value='" + data.rows[i]["id"] + "'>" + data.rows[i]["stfnm"] + "</option>");
            }
        });
        RateGrade();
    }
    //加载人员信息
    function RateGrade() {
        let StfId = $("#StfId").val();
        if (StfId != "") {
            AjaxJson("/BaseModule/BBdbR_WorkSectionBase/GetWorkSectionNm2?StfId=" + StfId, {}, function (data) {
                $("#StfNm").val(data.rows[0]["stfnm"]);
                $("#Phn").val(data.rows[0]["phn"]);
                //$("#FacEmail").val(data.rows[0]["email"]);
            });
        }
    }
    //加载人员列表
    //function RateGradeList() {
    //    var sel = document.getElementById("StfId");
    //        document.getElementById("StfId").options.length = 1;
    //    AjaxJson("/BaseModule/BBdbR_WorkSectionBase/GetWorkSectionNm?", {}, function (data) {
    //            for (var i = 0; i < data.rows.length; i++) {
    //                var FaultCatg = data.rows[i]["stfnm"];
    //                var FaultId = data.rows[i]["id"];
    //                var opt = new Option(FaultCatg, FaultId);//第一个代表标签内的内容，第二个代表value
    //                opt.setAttribute("id", "option" + i);
    //                $("#option" + i).onclick = OptionClick();
    //                sel.options.add(opt);
    //            }
    //    });      
    //}
   
    // //option的点击事件
    //function OptionClick() {
    //    var obj = document.getElementById('StfId');
    //    var index = obj.selectedIndex;
    //    if (index != -1) {
    //        var WorkSectionNm = obj.options[index].value;
    //        $('#StfId').val(WorkSectionNm);
           
    //    }
    //}

    //得到一个对象实体
    function InitControl() {
        $("#WorkshopId").val(WorkshopId);
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/BaseModule/BBdbR_WorkSectionBase/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
                document.getElementById("WorkSectionCd").readOnly = true;
            });
        }
    }

    //保存事件
    function AcceptClick() {
      
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/BaseModule/BBdbR_WorkSectionBase/SubmitForm?KeyValue=" + KeyValue, postData, function (data) {
            if (data.Message == "该编号已经存在！") {
                tipCss("WorkSectionCd", data.Message);
                return;
            }
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class='formTitle' style="height:30px">工段编号：</th>
            <td class='formValue' colspan="3">
                <input id="WorkSectionCd" maxlength=50 type="text" class="txt required" datacol="yes" err="工段编号" checkexpession="NotNull" checkdata="hasOne" />
            </td>
        </tr>
        <tr>
            <th class='formTitle' style="height:30px">工段名称：</th>
            <td class='formValue' colspan="3">
                <input id="WorkSectionNm" maxlength=50 type="text" class="txt required" datacol="yes" err="工段名称" checkexpession="NotNull" checkdata="hasOne" />
            </td>
        </tr>
        <tr>
            <th class='formTitle' style="height:30px">工段类型：</th>
            <td class='formValue' colspan="3">
                <select id="WorkSectionTy" maxlength=100 type="text" class="txt required checkdata" checkexpession="NotNull" datacol="yes" err="工段类型" onclick=""></select>
            </td>
        </tr>
        <tr style="display:none">
            <th class='formTitle' style="height:30px">所属车间：</th>
            <td class='formValue' colspan="3">
                <input id="WorkshopId" maxlength=50 type="text" class="txt required" datacol="yes" err="所属车间" checkexpession="NotNull" checkdata="hasOne" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>JPH：</th>
            <td class='formValue'>
                <input id="WspJPH" maxlength=10 type="text" class="txt" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>缓存上限：</th>
            <td class='formValue'>
                <input id="CacheQantity" maxlength=10 type="text" class="txt" />
            </td>
            <th class='formTitle'>缓存下限：</th>
            <td class='formValue'>
                <input id="CacheLimit" maxlength=10 type="text" class="txt" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>最高在制：</th>
            <td class='formValue'>
                <input id="HighestQantity" maxlength=10 type="text" class="txt" />
            </td>
            <th class='formTitle'>最低在制：</th>
            <td class='formValue'>
                <input id="LowestQantity" maxlength=10 type="text" class="txt" />
            </td>
        </tr>

        <tr>
            <th class='formTitle'>负责人员姓名：</th>
            <td class='formValue'>
                <select id="StfId" maxlength=50 type="text" class="txt required checkdata" checkexpession="NotNull" datacol="yes" err="负责人员姓名" onchange="RateGrade()">
                    <option value="StfNm">--请选择负责人--</option>
                </select>
            </td>
            <th class='formTitle'>负责人员手机号：</th>
            <td class='formValue'>
                <input id="Phn" maxlength=50 type="text" class="txt" readonly />
            </td>
        </tr>
        <tr>
            <th class='formTitle' style="height:30px">有效性：</th>
            <td class='formValue' colspan="3">
                <select id="Enable" maxlength=100 type="text" class="txt required checkdata" checkexpession="NotNull" datacol="yes" err="有效性" onclick="">
                    <option value="1">有效</option>
                    <option value="0">无效</option>
                </select>
            </td>
        </tr>
        <tr>
            <th class='formTitle' style="height:30px">工段描述：</th>
            <td class='formValue' colspan="3">
                <input id="Dsc" maxlength=50 type="text" class="txt" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>备注：</th>
            <td class='formValue' colspan="3">
                <textarea id="Rem" maxlength="200" class="txtArea" rows="3"></textarea>
            </td>
        </tr>
        <tr></tr>
    </table>
</form>

