@{
    ViewBag.Title = "铭牌信息表";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(function () {
        GetGrid();
        Show();
    })
    //加载表格
    function GetGrid() {
        $("#gridTable").jqGrid({
        url: "@Url.Content("~/BaseModule/MBB_BD_PRODU/GridPage")",
        datatype: "json",
        height: $(window).height() - 149,
        autowidth: true,
        colModel: [
                { label: '主键', name: 'GID', index: 'GID', width: 0, align: 'left', sortable: true, hidden: true  },
                { label: '产品编号', name: 'CODE', index: 'CODE', width: 0, align: 'left',sortable: true  },
                { label: '产品名称', name: 'NAME', index: 'NAME', width: 0, align: 'left',sortable: true  },
                { label: '整车型号', name: 'UDA19', index: 'UDA19', width: 0, align: 'left',sortable: true  },
                { label: '发动机排量', name: 'UDA2', index: 'UDA2', width: 0, align: 'left',sortable: true  },
                { label: '发动机型号', name: 'UDA1', index: 'UDA1', width: 0, align: 'left',sortable: true  },
                { label: '发动机最大净功率', name: 'UDA3', index: 'UDA3', width: 0, align: 'left',sortable: true  },
                { label: '最大净功率转速', name: 'MAX_POWER_SPEED', index: 'MAX_POWER_SPEED', width: 0, align: 'left',sortable: true  },
                { label: '最大允许总质量', name: 'TOTAL_WEIGHT', index: 'TOTAL_WEIGHT', width: 0, align: 'left',sortable: true  },
                { label: '整车整备型号', name: 'UDA4', index: 'UDA4', width: 0, align: 'left',sortable: true  },
                { label: '容量', name: 'CAPACITY', index: 'CAPACITY', width: 0, align: 'left',sortable: true  },
                { label: '变速器型号', name: 'UDA16', index: 'UDA16', width: 0, align: 'left',sortable: true  },
                { label: '后桥型号', name: 'UDA21', index: 'UDA21', width: 0, align: 'left',sortable: true  },
                { label: '特殊车辆名称', name: 'UDA9', index: 'UDA9', width: 0, align: 'left',sortable: true  },
                { label: '用途', name: 'UDA10', index: 'UDA10', width: 0, align: 'left',sortable: true  },
                {
                  label: '制造日期', name: 'PLANNED_WORK_ORDER', index: 'PLANNED_WORK_ORDER', width: 0, align: 'left', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != '合计')
                            return formatDate(cellvalue, 'yyyy-MM-dd');
                        else
                            return "";
                    },
                },
                {
                  label: '有效性', name: 'Enabled', index: 'Enabled', width: 100, align: 'left', hidden: true,
                     formatter: function (cellvalue, options, rowobject) {
                         if (cellvalue == '1') return "<img src='../../content/images/checkokmark.gif'/>";
                         if (cellvalue == '0') return "<img src='../../content/images/checknomark.gif'/>";
                     }
                 },
                { label: '创建人', name: 'CREATE_ID', index: 'CREATE_ID', width: 0, align: 'left', sortable: true, hidden: true  },
                { label: '创建时间', name: 'CREATE_DATE', index: 'CREATE_DATE', width: 0, align: 'left', sortable: true, hidden: true  },
                { label: '修改人', name: 'MODIFY_ID', index: 'MODIFY_ID', width: 0, align: 'left', sortable: true, hidden: true  },
                { label: '修改时间', name: 'MODIFY_DATE', index: 'MODIFY_DATE', width: 0, align: 'left', sortable: true, hidden: true  },
                { label: '预留字段1', name: 'RsvFld1', index: 'RsvFld1', width: 0, align: 'left', sortable: true, hidden: true  },
                { label: '预留字段2', name: 'RsvFld2', index: 'RsvFld2', width: 0, align: 'left', sortable: true, hidden: true  },
        ],
        pager: "#gridPager",
        sortname: '',
        sortorder: 'desc',
        rownumbers: true,
        shrinkToFit: false,
        gridview: true,
    });
}

    //加载搜索框
    function Show() {
        var Condition = $("#Condition").val();
        if (Condition == "all") {
            $("#Keywords").hide();
        }

        else {
            $("#Keywords").show();
        }
    }

    //新增
    function btn_add() {
        var url = "/BaseModule/MBB_BD_PRODU/Form"
        openDialog(url, "Form", "新增铭牌信息", 500, 300, function (iframe) {
            top.frames[iframe].AcceptClick()         
        });
    }
    //编辑
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "GID");
        if (KeyValue == undefined || KeyValue == "" || KeyValue == 'null' || KeyValue == 'undefined') {
            tipDialog('您没有选中任何项,请您选中后再操作。', 4, 'warning');
        }
        else {
            var count = KeyValue.split(",").length;
            if (count >= 2) {
                tipDialog('很抱歉，一次只能选择一个进行操作。', 4, 'warning');
            }
            else {
                var url = "/BaseModule/MBB_BD_PRODU/Form?KeyValue=" + KeyValue;
                openDialog(url, "Form", "编辑铭牌信息", 500, 300, function (iframe) {
                    top.frames[iframe].AcceptClick()
                });
            }
        }
    }

    //删除
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "GID");
        if (IsDelData(KeyValue)) {
            var delparm = 'KeyValue=' + KeyValue;
            delConfig('/BaseModule/MBB_BD_PRODU/DeleteNamePlate', delparm, KeyValue.split(",").length);
        }
    }

     //搜索
    function btn_Search() {
        var Condition = $("#Condition").val();
        var keywords = $("#Keywords").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/BaseModule/MBB_BD_PRODU/GridPageJsonFAS")?keywords=" + escape(keywords) + "&Condition=" + escape(Condition), page: 1, datatype: 'json'
    }).trigger('reloadGrid');
    }

    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
        
    }

    //根据数据字典显示内容
    //function CellItem(Code, cellvalue) {
    //    var value = "";
    //    getAjax('/CommonModule/DataDictionary/BinDingItemsJson', { Code: Code }, function (data) {
    //        var itemjson = eval("(" + data + ")");
    //        $.each(itemjson, function (i) {
    //            if (itemjson[i].Code == cellvalue) {
    //                value = itemjson[i].FullName;
    //            }
    //        });
    //    })
    //    return value;
    //}

</script>
<div class="leftline rightline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px;">
    @*按钮区域*@
    <div class="tools_bar" style="margin-top: 1px; margin-bottom: 0px;">
        <div class="PartialButton">
            <div class="tools_separator"></div>
            <a id="Ir_replace" onclick="windowload()" class="tools_btn"><span><b style="background: url('../../Content/Images/Icon16/arrow_refresh.png') 50% 4px no-repeat;">刷新</b></span></a>
            <div class="tools_separator"></div>
            <a id="Ir_add" onclick="btn_add()" class="tools_btn"><span><b style="background: url('../../Content/Images/Icon16/add.png') 50% 4px no-repeat;">新增</b></span></a>
            <div class="tools_separator"></div>
            <a id="Ir_edit" onclick="btn_edit()" class="tools_btn"><span><b style="background: url('../../Content/Images/Icon16/edit.gif') 50% 4px no-repeat;">编辑</b></span></a>
            <div class="tools_separator"></div>
            <a id="Ir_delete" onclick="btn_delete()" class="tools_btn"><span><b style="background: url('../../Content/Images/Icon16/DeleteRed.png') 50% 4px no-repeat;">删除</b></span></a>
            <div class="tools_separator"></div>
            <a id="Ir_back" onclick="btn_back()" class="tools_btn"><span><b style="background: url('../../Content/Images/Icon16/back.png') 50% 4px no-repeat;">离开</b></span></a>
            <div class="tools_separator"></div>     
        </div>
    </div>
    @*搜索框区域*@
    <table border="0" class="form-find" style="height: 45px;">
        <tr>
            <th>
                关键字：
            </th>
            <td>
                <select id="Condition" style="width: 150px;height:25px" onclick="Show()">
                    <option value="all">==全部==</option>
                    <option value="CODE">产品编号</option>
                    <option value="NAME">产品名称</option>
                    <option value="UDA19">整车型号</option>
                    <option value="UDA2">发动机排量</option>
                    <option value="UDA1">发动机型号</option>
                    <option value="UDA3">发动机最大净功率</option>
                    <option value="MAX_POWER_SPEED">发动机最大转速</option>
                    <option value="TOTAL_WEIGHT">最大允许质量</option>
                    <option value="UDA4">整车整备型号</option>
                    <option value="CAPACITY">容量</option>
                    <option value="UDA16">变速器型号</option>
                    <option value="UDA21">后桥型号</option>
                    <option value="UDA9">特殊车辆名称</option>
                    <option value="UDA10">用途</option>
                </select>
            </td>
            <td>
                <input id="Keywords" type="text" class="txt" style="width: 200px" />
            </td>
            <td>
                <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
            </td>
        </tr>
    </table>
</div>
<div class="topline rightline" style="margin: 1px; margin-top: -1px;">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
