@{
    ViewBag.Title = "检验岗基础信息表";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(function () {
        GetGrid();
    })
    //加载表格
    function GetGrid() {
        $("#gridTable").jqGrid({
        url: "@Url.Content("~/QualityModule/BBdbR_QualityCarPositionBase/GridPageJson")",
        datatype: "json",
        height: $(window).height() - 149,
        autowidth: true,
        colModel: [
            { label: '检验岗主键', name: 'CarPositionId', index: 'CarPartId', width: 0, align: 'center',sortable: true ,hidden: true },
            { label: '检验岗编号', name: 'CarPositionCd', index: 'CarPartCd', width: 120, align: 'center',sortable: true  },
            { label: '检验岗名称', name: 'CarPositionNm', index: 'CarPartNm', width: 120, align: 'center',sortable: true  },
            { label: '检验岗描述', name: 'Dsc', index: 'CarPartDsc', width: 0, align: 'center', sortable: true },
            //{ label: '版本号', name: 'VersionNumber', index: 'VersionNumber', width: 0, align: 'center', sortable: true, hidden: true  },
                { label: '有效性', name: 'Enabled', index: 'Enabled', width: 0, align: 'center',sortable: true ,hidden: true },
            {
                label: '创建时间', name: 'CreTm', index: 'CreTm', width: 0, align: 'center', sortable: true,
                formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }
            },
                //{ label: '创建人编号', name: 'CreCd', index: 'CreCd', width: 0, align: 'center',sortable: true  },
                { label: '创建人名称', name: 'CreNm', index: 'CreNm', width: 0, align: 'center',sortable: true  },
            {
                label: '修改时间', name: 'MdfTm', index: 'MdfTm', width: 0, align: 'center', sortable: true,
                formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }
            },
                //{ label: '修改人编号', name: 'MdfCd', index: 'MdfCd', width: 0, align: 'center',sortable: true  },
                { label: '修改人名称', name: 'MdfNm', index: 'MdfNm', width: 0, align: 'center',sortable: true  },
                { label: '备注', name: 'Rem', index: 'Rem', width: 0, align: 'center',sortable: true  },
                //{ label: '预留字段1', name: 'RsvFld1', index: 'RsvFld1', width: 0, align: 'center',sortable: true ,hidden: true },
                //{ label: '预留字段2', name: 'RsvFld2', index: 'RsvFld2', width: 0, align: 'center',sortable: true ,hidden: true },
            ],
            pager: "#gridPager",
            sortname: 'CarPositionCd',
            sortorder: 'asc',
            sortable: true,
            gridview: true,
            multiselect: true,
            multiboxonly: true,
            rowNum: 22,
            rownumbers: true,//启用记录条数
            rowList: [100, 200, 500, 1000],//记录条数列表
            viewrecords: true,//显示总的记录条数
            rownumWidth: 45,//序号列宽
            shrinkToFit: true,//列宽自适应
            loadonce: true,//排序
    });
    }
    //刷新
    function windowload() {
        $("#gridTable").setGridParam({ datatype: 'json', page: 1 }).trigger("reloadGrid");
    }
    //加载搜索框
    function Show() {
        var Condition = $("#Condition").val();
        if (Condition == "all") {
            $("#keywords").hide();
        }
        else {
            $("#keywords").show();
        }
    }
    //新增
    function btn_add() {
        var url = "/QualityModule/BBdbR_QualityCarPositionBase/Form"
        openDialog(url, "Form", "新增检验岗基础信息表", 500, 300, function (iframe) {
            top.frames[iframe].AcceptClick()
        });
    }
    //编辑
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "CarPositionId");
        if (IsChecked(KeyValue)) {
            var url = "/QualityModule/BBdbR_QualityCarPositionBase/Form?KeyValue=" + KeyValue;
            openDialog(url, "Form", "编辑检验岗基础信息表", 500, 300, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
    }
    //删除
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "CarPositionId");
        if (IsDelData(KeyValue)) {
            var delparm = 'KeyValue=' + KeyValue;
            delConfig('/QualityModule/BBdbR_QualityCarPositionBase/Delete', delparm, KeyValue.split(",").length);
        }
    }
    //导入
    function btn_import() {
        var CarPartId = GetJqGridRowValue("#gridTable", "CarPositionId");
        openDialog("/QualityModule/BBdbR_QualityCarPositionBase/ExcelImportDialog", "ExcelImportDialog", "车身方位信息导入", 750, 300, function (iframe) {
            top.frames[iframe].AcceptClick();
        });
    }
    ////导出Excel
    //function btn_derive() {
    //    SetDeriveExcel("#gridTable", "车身方位基本信息");
    //    openDialog("/CommonModule/ExcelImport/DeriveDialog", "DeriveDialog", "车身方位基本信息导出", 600, 300, function (iframe) {
    //        top.frames[iframe].AcceptClick();
    //    });
    //}


    //修改后导出
    //根据检索条件搜索出来的数据直接导出
    function btn_derive() {
        var CarPositionCd = $("#CarPositionCd").val();
        var CarPositionNm = $("#CarPositionNm").val();

        var count = $("#gridTable").getGridParam("records");
        if (count == 0) {
            tipDialog("没有要导出的信息！", 1.5, 0);
            return;
        }
        else if (count > 50000) {
            tipDialog("导出数据过大，请选择搜索条件分批导出", 1.5, 0);
            return;
        }
        else {
            window.setTimeout(function () {
                location.href = "/QualityModule/BBdbR_QualityCarPositionBase/GetExcel_Data?CarPositionCd=" + escape(CarPositionCd) + "&CarPositionNm=" + escape(CarPositionNm);
                Loading(false);
            }, 200);
        }
    }





    //关闭当前tab
    function btn_back() {
        top.ThisCloseTab();
    }
    //搜索
    function btn_Search() {
        var CarPositionCd = $("#CarPositionCd").val();
        var CarPositionNm = $("#CarPositionNm").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/QualityModule/BBdbR_QualityCarPositionBase/GridPageByCondition")?CarPositionCd=" + escape(CarPositionCd) + "&CarPositionNm=" + escape(CarPositionNm), page: 1, datatype: 'json'
    }).trigger('reloadGrid');
    }
    $(document).keypress(function (e) {
        // 回车键事件
        if (e.which == 13) {
            btn_Search();
        }
    });
    ////配置检查项目
    //function btn_ConfigCheck() {
    //    $(function () {
    //        var KeyValue = GetJqGridRowValue("#gridTable", "CarPartId");
    //        if (KeyValue != undefined && KeyValue != "" && KeyValue != 'null' && KeyValue != 'undefined') {
    //            var url = "/QualityModule/BBdbR_QualityCarPositionBase/CheckConfigForm?KeyValue=" + KeyValue;
    //            openDialog(url, "CheckConfigForm", "配置检查项目界面", 650, 660, function (iframe) {
    //                top.frames[iframe].AcceptClick();

    //            });
    //        }
    //        else {
    //            alertDialog("请选择相应车身部位!", 0);
    //        }
    //    });
    //}
    ////配置车型
    //function btn_ConfigCarType() {
    //    var KeyValue = GetJqGridRowValue("#gridTable", "CarPartId");
    //    var CarPartCd = GetJqGridRowValue("#gridTable", "CarPartCd");
    //    var CarPartNm = GetJqGridRowValue("#gridTable", "CarPartNm");
    //    //var CarPartCarTypeId = GetJqGridRowValue("#gridCarTypeTable", "CarPartCarTypeId"); + "&CarPartCarTypeId=" + CarPartCarTypeId
    //        if (KeyValue != undefined && KeyValue != "" && KeyValue != 'null' && KeyValue != 'undefined') {
    //            var url = "/QualityModule/BBdbR_QualityCarPositionBase/CarTypeConfigForm?KeyValue=" + KeyValue + "&CarPartCd=" + CarPartCd + "&CarPartNm=" + CarPartNm;
    //            openDialog(url, "CarTypeConfigForm", "配置车型界面", 650, 660, function (iframe) {
    //                top.frames[iframe].AcceptClick();
    //            });
    //        }
    //        else {
    //              alertDialog("请选择相应车身部位!", 0);
    //             }
    //}

</script>
<!--工具栏-->
<div class="tools_bar leftline rightline" style="margin: 1px; margin-bottom: 0px;">
    <div class="PartialButton">
        @Html.Partial("_PartialButton")
    </div>
</div>
<div class="leftline rightline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px;">
    <table border="0" class="form-find" style="height: 45px;">
        <tr>
            @*<th>关键字：</th>
        <td>
            <select id="Condition" style="width: 150px;height:25px" onclick="Show()">
                <option value="all">==全部==</option>
                <option value="CarPositionCd">检验岗编号</option>
                <option value="CarPositionNm">检验岗名称</option>
            </select>
        </td>
        <td>
            <input id="keywords" type="text" class="txt" style="width: 200px" />
        </td>*@

            <th>检验岗编号：</th>
            <td>
                <input id="CarPositionCd" type="text" class="txt" style="width: 120px" />
            </td>

            <td>&nbsp;&nbsp;&nbsp;</td>
            <th>检验岗名称：</th>
            <td>
                <input id="CarPositionNm" type="text" class="txt" style="width: 120px" />
            </td>

            <td>
                <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
            </td>
        </tr>
    </table>
</div>
<div class="topline rightline" style="margin: 1px; margin-top: -1px;">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
