@{
    ViewBag.Title = "物料加注配置表》明细页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/CommonModule/BBDBR_MatJZConfig/SetForm", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);
            });
        }
    }
</script>
<form id="form1" style="margin: 1px">
    <table class="form">
        <tr>
            <th class='formTitle'>物料加注配置主键：</th>
            <td class='formValue'>
                <label id="Id" />
            </td>
            <th class='formTitle'>物料编号：</th>
            <td class='formValue'>
                <label id="MatCd" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>加注类型：</th>
            <td class='formValue'>
                <label id="JZType" />
            </td>
            <th class='formTitle'>加注量：</th>
            <td class='formValue'>
                <label id="JZNumber" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>有效性：</th>
            <td class='formValue'>
                <label id="Enabled" />
            </td>
            <th class='formTitle'>创建时间：</th>
            <td class='formValue'>
                <label id="CreTm" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>创建人编号：</th>
            <td class='formValue'>
                <label id="CreCd" />
            </td>
            <th class='formTitle'>创建人名称：</th>
            <td class='formValue'>
                <label id="CreNm" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>修改时间：</th>
            <td class='formValue'>
                <label id="MdfTm" />
            </td>
            <th class='formTitle'>修改人编号：</th>
            <td class='formValue'>
                <label id="MdfCd" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>修改人名称：</th>
            <td class='formValue'>
                <label id="MdfNm" />
            </td>
            <th class='formTitle'>备注：</th>
            <td class='formValue'>
                <label id="Rem" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>备用字段1：</th>
            <td class='formValue'>
                <label id="RsvFld1" />
            </td>
            <th class='formTitle'>备用字段2：</th>
            <td class='formValue'>
                <label id="RsvFld2" />
            </td>
        </tr>
        <tr>
        </tr>
    </table>
</form>
