@{
    ViewBag.Title = "ConfigComponent";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}


<script type="text/javascript">
    //var productclassid = GetQuery('productclassid');
    var WcId = GetQuery('KeyValue');
    //var WcCd = GetQuery('wccd');
    //var WcNm = GetQuery('wcnm');
    var lastrow = "";
    var lastcell = "";
    $(function () {
        Show();
        GetGrid();
        GetGrid1();
    })
    //加载搜索框
    function Show() {
        var Condition = $("#Condition").val();
        if (Condition == "all") {
            $("#keywords").hide();
        } else {
            $("#keywords").show();
        }
    }
     //加载未配置
    function GetGrid() {
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/TightModule/TightEnable/GridNotConfigJson")?JOBId=" + escape(WcId) + "&Condition=&keywords=", page: 1,
        datatype: "json",
        height:125, //$(window).height() - 149,
        width:580,
            colModel: [
                
                { label: '实体主键', name: 'MatId', index: 'MatId', width: 0, align: 'center', sortable: true, hidden: true },
                { label: '类型', name: 'Type', index: 'Type', width: 50, align: 'center', sortable: true },
                { label: '编码', name: 'Code', index: 'Code', width: 120, align: 'center', sortable: true },
                { label: '名称', name: 'EtName', index: 'EtName', width: 120, align: 'center', sortable: true },
                { label: '备注', name: 'Rem', index: 'Rem', width: 100, align: 'center', sortable: true, hidden: true  },
        ],
        pager: "#gridPager",
        gridview: true,
        sortname: '',
        sortorder: 'desc',
        rownumbers: true,
        shrinkToFit: true,
        loadonce: true,
            ondblClickRow: function (RowId) {//双击时，得到选中行的数据           
                var MatId = GetJqGridRowValue("#gridTable", "MatId");
                var Type = GetJqGridRowValue("#gridTable", "Type");
                var Code = GetJqGridRowValue("#gridTable", "Code");
                var EtName = GetJqGridRowValue("#gridTable", "EtName");
                var Rem = GetJqGridRowValue("#gridTable", "Rem");
                var id_down = "";
                var list = $("#gridTable1").jqGrid("getRowData");
                //将已配置产品表格中共所有的物料主键拼接，判断选中的产品是否已经存在
                $.each(list, function (i, item) {
                    id_down += item.MatId;
                })
                if (id_down.search(MatId) == -1 || Type == '车型' ||Type == '车型+图号') {
                    $("#gridTable1").jqGrid("addRowData", RowId, "last");//将grid选中行数据复制给grid1中新增的行
                    $("#gridTable1").jqGrid("setRowData", RowId, {
                        MatId: MatId, Type: Type,
                        Code: Code, EtName: EtName, RsvFld1: ''
                    });//将grid选中行数据复制给grid1中新增的行
                }
                //$("#gridTable").jqGrid("delRowData", RowId);//删除grid已选中的行
            }
    });
    }
    //加载已配置
    function GetGrid1() {
        $("#gridTable1").jqGrid({
            datatype: "json",
            height: 125,
            width: 580,
            colModel: [

                { label: '实体主键', name: 'MatId', index: 'MatId', width: 0, align: 'center', sortable: true, hidden: true },
                { label: '类型', name: 'Type', index: 'Type', width: 100, align: 'center', sortable: true },
                { label: '编码', name: 'Code', index: 'Code', width: 0, align: 'center', sortable: true },
                { label: '名称', name: 'EtName', index: 'EtName', width: 0, align: 'center', sortable: true },
                {
                    label: '图号', name: 'RsvFld1', index: 'RsvFld1', width: 0, align: 'center', sortable: true, editable: true,
                    edittype: "text"},
            ],
            pager: "#gridPager1",
            sortname: '',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            cellEdit: true,
            cellsubmit: 'clientArray',
            loadonce: true,
            ondblClickRow: function (RowId) {
                   $("#gridTable1").jqGrid("delRowData", RowId);//删除grid选中的行
            },
            beforeEditCell: function (rowid, cellname, v, iRow, iCol) {
                lastrow = iRow;//行号
                lastcell = iCol;//列号
            }
        });
    }
     //搜索事件
    function btn_Search() {
        var Condition = $("#Condition").val();
        var keywords = $("#keywords").val();
        $("#gridTable").jqGrid('setGridParam', {//设置grid的参数。有些参数的修改必须要重新加载grid才可以生效，这个方法可以覆盖事件
            //url:设置一个grid的ajax url，可配合trigger("reloadGrid")使用;page:设置翻到第几页;datatype:设置新的datatype(xml,json...)
            url: "@Url.Content("~/TightModule/TightEnable/GridNotConfigJson")?JOBId=" + escape(WcId) + "&Condition=" + escape(Condition) + "&keywords=" + escape(keywords), page: 1, datatype: 'json'
        }).trigger('reloadGrid');
    }
    //回车事件
    //$(document).keypress(function (e) {
    //    if (e.which == 13) {
    //        btn_Search();
    //    }
    //});

    //保存事件
    function btn_accept() {
        $("#gridTable1").jqGrid("saveCell", lastrow, lastcell)//对单元格数据进行保存
        var gridData = $("#gridTable1").jqGrid("getRowData");
        
        if (gridData.length > 0) {
            $.each(gridData, function (i, item) {
                if (item.Type == "车型+图号") {
                    //校验输入的图号
                    if (item.RsvFld1 == "" || item.RsvFld1 == null) {
                        tipDialog("配置失败：未输入图号", 2, 0);
                    }
                }
            });
            AjaxJson('/TightModule/TightEnable/JobEnableSubmit?', { JOBId: WcId,  tabledata: gridData }, function (data) {
                    //在控制器判断，传回message会变成乱码
                    if (data.Code == "1")//提交成功
                    {
                        tipDialog("配置成功", 2, 1);
                        top.frames[tabiframeId()].windowload();
                        closeDialog();
                    }
                    else {
                        tipDialog("配置失败", 2, 0);
                    }
                })
                 
        }
        else {
            tipDialog("请选择需要配置的信息", 2, -2);
        }
    }
</script>
<form id="form1" style="margin: 1px">
<div id="message" style="display: none"></div>
    <div class="bd" style="border-bottom: none; margin: 1px;">
    <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
        <div class="tab_list_top" style="position: absolute">
            <div id="Tabbasic" class="tab_list bd actived">配置JOB使能信息</div>
        </div>
    </div>
</div>
    <div class="ScrollBar" style="margin: 1px; overflow: hidden;">
    <!--配置检验岗-->
        <div class="leftline rightline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px">
            <div class="leftline rightline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px">
                <div class="note-prompt" style="margin: 1px;">
                    温馨提示：双击上表增加配置实体信息；双击下表删除实体信息。
                </div>
                <div style="background-color:gainsboro ;color:#27a4aB;font-size:medium;width:100%;font-weight: bold">
                    &nbsp操作按钮<span class="ModuleName"></span>
                </div>
                <div class="tools_bar leftline rightline" style="margin-bottom: 0px; margin: 1px;">
                    <div class="PartialButton">
                        <a id="lr-replace" ids="lr-replace" title="刷新当前" onclick="Replace()" class="tools_btn">
                            <span>
                                <b style="background: url('../../Content/Images/Icon16/arrow_refresh.png') 50% 4px no-repeat;">刷新</b>
                            </span>
                        </a>
                        <div class="tools_separator"></div>
                        <a id="lr-add" ids="lr-add" title="确认此项配置" onclick="btn_accept()" class="tools_btn">
                            <span>
                                <b style="background: url('../../Content/Images/Icon16/accept.png') 50% 4px no-repeat;">确认配置</b>
                            </span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    <table border="0" class="form-find" style="height: 45px;">
        <tr>
            <th>关键字：</th>
            <td>
                <select id="Condition" style="width: 150px;height:25px" onclick="Show()">
                    <option value="Num">图号</option>
                    <option value="Prod">产品</option>
                    <option value="车型">车型</option>
                    <option value="车型+图号">车型+图号</option>

                </select>
            </td>
            <td>
                <input id="keywords" type="text" class="txt" style="width: 200px" />
            </td>
            <td>
                <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
            </td>
        </tr>
    </table>
    <div style="overflow: auto;">
        <div class="topline rightline" style="margin: 1px; margin-top: -1px;">
            <div class="btnbartitle">
                <div style="float: left;margin-left:7px">
                    <span class="ModuleName">未配置</span>
                </div>
            </div>
            <table id="gridTable"></table>
            <div id="gridPager"></div>
        </div>
    </div>
    <div style="overflow: auto;">
        <div class="topline rightline" style="margin: 0px; margin-top: -1px;">
            <div class="btnbartitle">
                <div style="float: left;margin-left:7px">
                    <span class="ModuleName">已配置</span>
                </div>
            </div>
            <table id="gridTable1"></table>
            <div id="gridPager1"></div>
        </div>
    </div>
    </div>
</form>
