@{
    ViewBag.Title = "工位基础信息表》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    var PlineId = GetQuery('area_key');//主键
    $(function () {
        BindDropItem("#WcTyp", "WcTyp");
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        $("#PlineId").val(PlineId);
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/BaseModule/BBdbR_WcBase/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
                document.getElementById("WcCd").readOnly = true;
            });
        }
    }

    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/BaseModule/BBdbR_WcBase/SubmitForm?KeyValue=" + KeyValue, postData, function (data) {
            if (data.Message == "该编号已经存在！") {
                tipCss("FactoryCode", data.Message);
                return;
            }
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr style="height:30px">
            <th class='formTitle'>工位编号：</th>
            <td class='formValue'>
                <input id="WcCd" maxlength=50 type="text" class="txt required" datacol="yes" err="工位编号" checkexpession="NotNull" checkdata="hasOne" />
            </td>
        </tr>
        <tr style="height:30px">
            <th class='formTitle'>工位名称：</th>
            <td class='formValue'>
                <input id="WcNm" maxlength=50 type="text" class="txt required" datacol="yes" err="工位名称" checkexpession="NotNull" checkdata="hasOne" />
            </td>
        </tr>
        <tr style="display:none">
            <th class='formTitle'>所属产线：</th>
            <td class='formValue'>
                <input id="PlineId" maxlength=50 type="text" class="txt required" datacol="yes" err="产线名" checkdata="hasOne" />
            </td>
        </tr>
        <tr style="height:30px">
            <th class='formTitle'>工位类型：</th>
            <td class='formValue'>
                <select id="WcTyp" maxlength=100 type="text" class="txt required checkdata" checkexpession="NotNull" datacol="yes" err="工位类型" onclick="">
                    <option value=" ">请选择工位类型 </option>
                </select>
            </td>
        </tr>
        @*<tr>
            <th class='formTitle'>工位长度：</th>
            <td class='formValue'>
                <input id="WcLength" maxlength=50 type="text" class="txt" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>工位顺序：</th>
            <td class='formValue'>
                <input id="WcQueue" maxlength=10 type="text" class="txt" />
            </td>
        </tr>*@
        <tr>
            <th class='formTitle'>工位开始：</th>
            <td class='formValue'>
                <input id="StartPoint" maxlength=50 type="text" class="txt" onkeyup="this.value=this.value.replace(/\D/g,'')" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>预警：</th>
            <td class='formValue'>
                <input id="PreAlarmPoint" maxlength=10 type="text" class="txt" onkeyup="this.value=this.value.replace(/\D/g,'')" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>停止：</th>
            <td class='formValue'>
                <input id="StopPoint" maxlength=10 type="text" class="txt" onkeyup="this.value=this.value.replace(/\D/g,'')" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>结束：</th>
            <td class='formValue'>
                <input id="EndPoint" maxlength=50 type="text" class="txt" onkeyup="this.value=this.value.replace(/\D/g,'')" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>顺序号：</th>
            <td class='formValue'>
                <input id="sort" maxlength=200 type="text" class="txt" onkeyup="this.value=this.value.replace(/\D/g,'')" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>Pass次数：</th>
            <td class='formValue'>
                <input id="Seq" maxlength=200 type="number" class="txt" onkeyup="this.value=this.value.replace(/\D/g,'')" />
            </td>
        </tr>
        <tr style="height:50px">
            <th class='formTitle'>工位描述：</th>
            <td class='formValue'>
                <input id="Dsc" maxlength=500 type="text" class="txt" />
            </td>
        </tr>
        <tr style="height:50px">
            <th class='formTitle'>备注：</th>
            <td class='formValue'>
                <input id="Rem" maxlength=200 type="text" class="txt" />
            </td>
        </tr>
    </table>
</form>
