@{
    ViewBag.Title = "检查项目配置";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(function () {
        GetGrid_up();
        GetGrid_down();
    })
    var KeyValue = GetQuery('KeyValue');
    //检查项目配置加载上层表格
    function GetGrid_up() {
        $("#gridTable_up").jqGrid({
            //url: "@Url.Content("~/QualityAdd_HTModule/BBdbR_CarPartBase/GridListJson_Up")",
            url: "/QualityAdd_HTModule/CarPartBase/GridListJson_Up?CarPartId=" + KeyValue,
            datatype: "json",
            //height: $(window).height()/2 - 150,
            autowidth: false,
            //width: 850,
            height: 250,
            colModel: [
                { label: '检查项主键', name: 'QuaCheckItemId', index: 'QuaCheckItemId', width: 0, align: 'left', key: true, sortable: true, hidden: true },
                { label: '检查项编号', name: 'QuaCheckItemCd', index: 'QuaCheckItemCd', width: 0, align: 'left', sortable: true },
                { label: '检查项名称', name: 'QuaCheckItemNm', index: 'QuaCheckItemNm', width: 0, align: 'left', sortable: true },
                {
                    label: '检查项类型', name: 'QuaCheckItemTy', index: 'QuaCheckItemTy', width: 0, align: 'left', sortable: true,
                     //formatter: function (cellvalue, options, rowObject) {
                    //    return CellItem('MatCatg', cellvalue);
                    //}
                },
                { label: '检查项上限', name: 'QuaCheckItemUpLimit', index: 'QuaCheckItemUpLimit', width: 0, align: 'left', sortable: true },
                { label: '检查项下限', name: 'QuaCheckItemLowLimit', index: 'QuaCheckItemLowLimit', width: 0, align: 'left', sortable: true },
                { label: '检查项标准值', name: 'QuaCheckItemValue', index: 'QuaCheckItemValue', width: 0, align: 'left', sortable: true },
                { label: '检查项描述', name: 'QuaCheckItemDsc', index: 'QuaCheckItemDsc', width: 0, align: 'left', sortable: true },
                //{ label: '备注', name: 'Rem', index: 'Rem', width: 0, align: 'left', sortable: true },

            ],
            viewrecords: true,//显示总的记录条数
            rowNum: 10,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager_up",
            sortname: '',
            sortorder: 'desc',
            sortname: '',
            rownumbers: true,
            shrinkToFit: true,
            loadonce: true,
            gridview: true,
            cellEdit: true,
            cellsubmit: 'clientArray',
            ondblClickRow: function (RowId) {
               // var IDs = $("#gridTable_down").jqGrid('getDataIDs');//获取grid1的行数
                var id = GetJqGridRowValue("#gridTable_up", "QuaCheckItemId");
                var code = GetJqGridRowValue("#gridTable_up", "QuaCheckItemCd");
                var fullname = GetJqGridRowValue("#gridTable_up", "QuaCheckItemNm");
                var type = GetJqGridRowValue("#gridTable_up", "QuaCheckItemTy");
                var uplimit = GetJqGridRowValue("#gridTable_up", "QuaCheckItemUpLimit");
                var lowlimit = GetJqGridRowValue("#gridTable_up", "QuaCheckItemLowLimit");
                var value = GetJqGridRowValue("#gridTable_up", "QuaCheckItemValue");
                var dsc = GetJqGridRowValue("#gridTable_up", "QuaCheckItemDsc");
                var equipment = KeyValue;//获取grid1选中行的数据
                if (KeyValue != "") {
                    //if (IDs.length == 0) {
                    $("#gridTable_down").jqGrid("addRowData", RowId, equipment, "last");//将grid选中行数据复制给grid1中新增的行
                    $("#gridTable_down").jqGrid("setRowData", RowId, {
                        QuaCheckItemId: id, QuaCheckItemCd: code, QuaCheckItemNm: fullname, QuaCheckItemTy: type,
                        QuaCheckItemUpLimit: uplimit, QuaCheckItemLowLimit: lowlimit, QuaCheckItemValue: value, QuaCheckItemDsc: dsc
                        });//将grid选中行数据复制给grid1中新增的行
                        $("#gridTable_up").jqGrid("delRowData", RowId);//删除grid选中行的数据

                }
                else {
                    alertDialog("请先选择检查模板，再进行产品配置！")
                }

            }
        });
    }

    //检查项目已配置表格
    function GetGrid_down() {
        $("#gridTable_down").jqGrid({
            url: "/QualityAdd_HTModule/BBdbR_CarPartBase/Right_GridCheckListJson?value=" + KeyValue,
            datatype: "json",
            //height: $(window).height()/2-140,
            //width: 850,
            height: 250,
            autowidth: false,
            colModel: [
                { label: '检查项主键', name: 'QuaCheckItemId', index: 'QuaCheckItemId', width: 0, align: 'left', key: true, sortable: true, hidden: true },
                { label: '检查项编号', name: 'QuaCheckItemCd', index: 'QuaCheckItemCd', width: 0, align: 'left', sortable: true },
                { label: '检查项名称', name: 'QuaCheckItemNm', index: 'QuaCheckItemNm', width: 0, align: 'left', sortable: true },
                {
                    label: '检查项类型', name: 'QuaCheckItemTy', index: 'QuaCheckItemTy', width: 0, align: 'left', sortable: true,
                    //formatter: function (cellvalue, options, rowObject) {
                    //    return CellItem('MatCatg', cellvalue);
                    //}
                },
                { label: '检查项上限', name: 'QuaCheckItemUpLimit', index: 'QuaCheckItemUpLimit', width: 0, align: 'left', sortable: true },
                { label: '检查项下限', name: 'QuaCheckItemLowLimit', index: 'QuaCheckItemLowLimit', width: 0, align: 'left', sortable: true },
                { label: '检查项标准值', name: 'QuaCheckItemValue', index: 'QuaCheckItemValue', width: 0, align: 'left', sortable: true },
                { label: '检查项描述', name: 'QuaCheckItemDsc', index: 'QuaCheckItemDsc', width: 0, align: 'left', sortable: true },
                //{ label: '备注', name: 'Rem', index: 'Rem', width: 0, align: 'left', sortable: true },
            ],
            viewrecords: true,//显示总的记录条数
            rowNum: 10,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager_down",
            sortname: '',
            sortorder: 'desc',
            sortname: '',
            rownumbers: true,
            shrinkToFit: true,
            loadonce: true,
            gridview: true,
            cellEdit: true,
            cellsubmit: 'clientArray',

            ondblClickRow: function (RowId) {

               // var IDs = $("#gridTable_up").jqGrid('getDataIDs');//获取grid1的行数
                var id = GetJqGridRowValue("#gridTable_down", "QuaCheckItemId");
                var code = GetJqGridRowValue("#gridTable_down", "QuaCheckItemCd");
                var fullname = GetJqGridRowValue("#gridTable_down", "QuaCheckItemNm");
                var type = GetJqGridRowValue("#gridTable_down", "QuaCheckItemTy");
                var uplimit = GetJqGridRowValue("#gridTable_down", "QuaCheckItemUpLimit");
                var lowlimit = GetJqGridRowValue("#gridTable_down", "QuaCheckItemLowLimit");
                var value = GetJqGridRowValue("#gridTable_down", "QuaCheckItemValue");
                var dsc = GetJqGridRowValue("#gridTable_down", "QuaCheckItemDsc");
                var equipment = KeyValue;//获取grid1选中行的数据
                if (KeyValue != "") {
                    //if (IDs.length == 0) {
                    $("#gridTable_up").jqGrid("addRowData", RowId, equipment, "last");//将grid选中行数据复制给grid1中新增的行
                    $("#gridTable_up").jqGrid("setRowData", RowId, {
                        QuaCheckItemId: id, QuaCheckItemCd: code, QuaCheckItemNm: fullname, QuaCheckItemTy: type,
                        QuaCheckItemUpLimit: uplimit, QuaCheckItemLowLimit: lowlimit, QuaCheckItemValue: value, QuaCheckItemDsc: dsc
                    });//将grid选中行数据复制给grid1中新增的行
                    $("#gridTable_down").jqGrid("delRowData", RowId);//删除grid选中行的数据
                }
                else {
                    alertDialog("请先选择车身部位，再进行检查项目配置！")
                }
            },
            beforeEditCell: function (rowid, cellname, value, iRow, iCol) {
                lastrow = iRow;//行号
                lastcell = iCol;//列号
            }
        });
        jQuery("#gridTable_down").jqGrid('navGrid', '#pgwidth', { edit: false, add: false, del: false });
    }


    //刷新
    function windowload() {
        $("#gridTable_up").trigger("reloadGrid"); //重新载入
        $("#gridTable_down").trigger("reloadGrid"); //重新载入
    }

    //确认配置检查项目
    function btn_accept() {
        var ids = $("#gridTable_down").jqGrid("getRowData"); //获取gridSelectTable表中多行数据
        AjaxJson('/QualityAdd_HTModule/BBdbR_CarPartBase/SubmitCheckConfig?', { listdto: ids, CarPartId: KeyValue }, function (data) {
            var t = data;
            if (t.Code == "1")//提交成功
            {
                alertDialog("提交成功！")
                $("#gridTable_down").trigger('reloadGrid');
                top.frames[tabiframeId()].windowload();
                //closeDialog();
            }
            else {
                alertDialog("提交失败！", '-1');
                closeDialog();
            }
        });
        //if (ids.length > 0) {

        //}
        //else {
        //    alertDialog("请添加检查项目后提交！", '-1')
        //}
    }

    //搜索条件
    function GetCondition() {
        var Condition = $("#Condition").val();
        if (Condition == "") {
            $("#tdsearch").hide();
        }
        else {
            $("#tdsearch").show();
        }
    }
    //根据数据字典显示内容
    function CellItem(Code, cellvalue) {
        var value = "";
        getAjax('/CommonModule/DataDictionary/BinDingItemsJson', { Code: Code }, function (data) {
            var itemjson = eval("(" + data + ")");
            $.each(itemjson, function (i) {
                if (itemjson[i].Code == cellvalue) {
                    value = itemjson[i].FullName;
                }
            });
        })
        return value;
    }
</script>

<div id="message" style="display: none; padding: 1px; padding-bottom: 0px;"></div>
<div class="bd" style="border-bottom: none; margin: 1px;">
    <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
        <div class="tab_list_top" style="position: absolute">
            <div id="Tabbasic" class="tab_list bd actived" onclick="Tabchange('Staff')">配置检查项目</div>
            @*<div id="Tabwork" class="tab_list bd " onclick="Tabchange('Pline')">配置产线</div>*@
        </div>
    </div>
</div>
<div class="ScrollBar" style="margin: 1px; overflow: hidden;">
    <!--配置人员-->
    <div id="Staff" class="tabPanel">
        <div class="leftline rightline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px">
            <div class="leftline rightline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px">
                <div class="note-prompt" style="margin: 1px;">
                    温馨提示：双击上表增加配置检查项目；双击下表删除检查项目配置。
                </div>
                <div style="background-color:gainsboro ;color:#27a4aB;font-size:medium;width:100%;font-weight: bold">
                    &nbsp操作按钮<span class="ModuleName"></span>
                </div>
                <div class="tools_bar leftline rightline" style="margin-bottom: 0px; margin: 1px;">
                    <div class="PartialButton">
                        <a id="lr-replace" ids="lr-replace" title="刷新当前" onclick="Replace()" class="tools_btn">
                            <span>
                                <b style="background: url('../../Content/Images/Icon16/arrow_refresh.png') 50% 4px no-repeat;">刷新</b>
                            </span>
                        </a>
                        <div class="tools_separator"></div>
                        <a id="lr-add" ids="lr-add" title="确认此项配置" onclick="btn_accept()" class="tools_btn">
                            <span>
                                <b style="background: url('../../Content/Images/Icon16/accept.png') 50% 4px no-repeat;">确认配置</b>
                            </span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div id="layout">

            <div>
                <div class="btnbartitle">
                    <div>
                        未配置检查项目
                    </div>
                </div>
                <div class="topline rightline" style="margin: 1px; margin-top: -1px;">
                    <table id="gridTable_up"></table>
                    <div id="gridPager_up" @*style="height:50px;background-color:transparent;position:relative"*@></div>
                </div>
                <div class="btnbartitle">
                    <div>
                        已配置检查项目
                    </div>
                </div>
                <div class="topline rightline" style="margin: 1px; margin-top: -1px;">
                    <table id="gridTable_down"></table>
                    <div id="gridPager_down"></div>
                </div>
            </div>
        </div>
    </div>

</div>
