@{
    ViewBag.Title = "班制基础信息表》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    $(function () {
        BindDropItem("#ClassTyp", "ClassTyp", "==全部==");
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/BaseModule/BFacR_ClassBase/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
                document.getElementById("ClassCd").readOnly = true;
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/BaseModule/BFacR_ClassBase/SubmitShiftBase?KeyValue=" + KeyValue, postData, function (data) {
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">       
        <tr>
            <th class='formTitle'>班制编号：</th>
            <td class='formValue'>
                <input id="ClassCd"  maxlength=100 type="text" class="txt required checkdata" checkexpession="NotNull" datacol="yes" err="班制编号" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>班制名称：</th>
            <td class='formValue'>
                <input id="ClassNm" maxlength=100 type="text" class="txt required checkdata" checkexpession="NotNull" datacol="yes" err="班制名称" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>班制类型：</th>
            <td class='formValue'>
                <select id="ClassTyp" maxlength=100 type="text" class="txt required checkdata" checkexpession="NotNull" datacol="yes" err="班制类型">
                    <option>---请选择班制类型--</option>
                </select>             
            </td>
        </tr>
        <tr>
            <th class='formTitle'>班制开始时间：</th>
            <td class='formValue'>
                <input id="StartTm" type="time" class="txt"/>
            </td>
        </tr>
        <tr>
            <th class='formTitle'>班制总时长：</th>
            <td class='formValue'>
                <input id="TmSpan" maxlength=100 type="text" class="txt" />
            </td>
        </tr>
        <tr id="Enable">
            <th class='formTitle' style="width: 120px; text-align: center; ">有效性：</th>
            <td class='formValue'>
                <select id="Enabled" maxlength=100 type="text" class="txt required checkdata" checkexpession="NotNull" datacol="yes" err="有效性">
                    <option value="1">有效</option>
                    <option value="0">无效</option>
                </select>
            </td>
        </tr>    
        <tr style=" height:40px">
            <th class='formTitle'>备注：</th>
            <td class='formValue'>
                <input id="Rem" maxlength=200 type="text" class="txt"   />
            </td>
        </tr>    
        <tr>
        </tr>
    </table>
</form>
