@{
    ViewBag.Title = "_FactoryBaseInformation》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    $(function () {
        BindDropItem("#MatTyp", "MatType", "==请选择==");
        BindDropItem("#MatCatg", "MatCatg", "==请选择==");
        setUpPhotographChangeEvent();//绑定选择图片的事件
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/BaseModule/BBdbR_MatBase/SetMatForm", { KeyValue: KeyValue }, function (data) {
                //SetWebControls(data);
                $("#MatCd").val(data.rows[0]["MatCd"]);
                $("#MatNm").val(data.rows[0]["MatNm"]);
                $("#MatCatg").val(data.rows[0]["MatCatg"]);
                $("#MatTyp").val(data.rows[0]["MatTyp"]);
                $("#MatSpec").val(data.rows[0]["MatSpec"]);
                $("#Unit").val(data.rows[0]["Unit"]);
                $("#LeadTm").val(data.rows[0]["LeadTm"]);
                $("#YieldRate").val(data.rows[0]["YieldRate"]);
                $("#Rem").val(data.rows[0]["Rem"]);
                var image = data.rows[0]["MatImg"];
                var test = document.getElementById('picture');
                test.src = 'data:image/;base64,' + image;
                test.style.width = 145;
                test.style.height = 145;
                
            });
        }    
    }   

    //保存事件
    function AcceptClick() {
        //if (!(checkHasOne(KeyValue))) {
        //    return false;
        //}
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var MatCd = document.getElementById("MatCd").value;
        var MatNm = document.getElementById("MatNm").value;
        var MatCatg = $('#MatCatg').val();
        var MatTyp = $('#MatTyp').val();
        var MatSpec = $('#MatSpec').val();
        var Unit = $('#Unit').val();
        var LeadTm = $('#LeadTm').val();
        var YieldRate = $('#YieldRate').val();
        var Rem = $('#Rem').val();
        var fd = new FormData();//FormData主要是用来存储键值对
        var file = $('#Photograph')[0].files[0];
        fd.append('file', file);
        if ((KeyValue == undefined || KeyValue == "" || KeyValue == 'null' || KeyValue == 'undefined')&&(file == 'null' || file == undefined)) {//未选择文件,且是新增
            tipDialog('请选择图片文件', 3, -2)
        }
        else {
            var url = "/BaseModule/BBdbR_MatBase/SubmitPicture1?KeyValue=" + KeyValue + "&MatCd=" + MatCd + "&MatNm=" + MatNm + "&MatCatg=" + MatCatg + "&MatTyp=" + MatTyp + "&MatSpec=" + MatSpec + "&Unit=" + Unit + "&LeadTm=" + LeadTm + "&YieldRate=" + YieldRate + "&Rem=" + escape(Rem) + "&file=" + file;
            var responseText = JSON.parse(xhrupload(fd, url));//调用xmlhttprequest进行上传，返回值为验证结果，方法在下面
            if (responseText.Message == "该编号已经存在！") {
                tipCss("MatCd", responseText.Message);
                return;
            }
            tipDialog(responseText.Message, 3, responseText.Code);
            top.frames[tabiframeId()].windowload();//???
            closeDialog();
        }        
    }

    //input（file）改变的事件
    function setUpPhotographChangeEvent() {
        $("#Photograph").change(function () {
            if (this.files.length == 0) {//未选择文件
                $("#picture").attr("src", "");
                return;
            }
            var objUrl = getObjectURL(this.files[0]);//获取照片绝对路径，可以用来作为img标签的src属性
            //alert(objUrl);
            var size = this.files[0].size;//照片尺寸
            var name = this.files[0].name;//照片名称
            var type = name.substring(name.lastIndexOf('.')).toLocaleLowerCase();//照片文件类型
            if (type != ".png" && type != ".jpg" && type != ".jpeg" /*&& type != undefined && type != "" && type != 'null'*/) {//文件类型选择错误
                tipDialog("请重新选择图片格式文件上传。", 3, -2);
                $(this).val("");
                $("#picture").attr("src", "");
                return false;
            }
            if (size >= 1024000 * 10) tipDialog("图片超过10M了哦。", 3, -2);
            else {
                if (objUrl) {//如果存在路径
                    var width_max = 2048;//最大像素
                    var height_max = 1536;//最大像素
                    var responsetext = upload(this, width_max, height_max);//上传校验图片像素大小是否符合要求
                    if (responsetext == "True" || responsetext == true) {//如果像素大小符合要求
                        $("#picture").attr("src", objUrl);
                    }
                    else {//如果像素大小不符合要求
                        $(this).val("");
                        $("#picture").attr("src", "");
                        tipDialog("照片尺寸过大，请重新选择照片。照片高最大为：" + height_max + "，宽最大为：" + width_max + "。", 3, -2);
                    }
                }
            }
        });
    }
    //获取input（file）的绝对路径
    function getObjectURL(file) {
        var url = null
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file)
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file)
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file)
        }
        return url;
    }
    //上传照片，进行尺寸校验
    function upload(f, width, height) {
        if (window.FormData) {
            var fd = new FormData();//FormData主要是用来存储键值对
            //var form = $('#form1')[0];
            //fd.append('form', form);
            var file = $('#Photograph')[0].files[0];
            fd.append('file', file);
            fd.append('width', width);
            fd.append('height', height);
            var responseText = xhrupload(fd, "/BaseModule/BBdbR_MatBase/CheckPhotograph");//调用xmlhttprequest进行上传，返回值为验证结果
            //return false;//阻止表单提交
            return responseText;
        }
        else {
            alert('不支持html5 ajax上传，使用普通表单上传！');
        }
    }
    //通过XMLHttpRequest提交数据，用来检测图片大小（ajax本质上也是XMLHttpRequest，只是经过jQuery的封装）
    function xhrupload(fd, url) {
        var xhr = new XMLHttpRequest();//XMLHttpRequest
        xhr.open("post", url, false);//第三个参数表示同步或者异步方式
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                //0 － （未初始化）还没有调用send()方法 ；1 － （载入）已调用send()方法，正在发送请求 ；2 － （载入完成）send()方法执行完成，已经接收到全部响应内容 ；3 － （交互）正在解析响应内容 ；4 － （完成）响应内容解析完成，可以在客户端调用了 
                if (200 == xhr.status) {
                    return xhr.responseText;//返回值为true和false，true：照片尺寸合理；false：照片尺寸不合理
                    //tipDialog(xhr.responseText.Message, 3, xhr.responseText.Code);
                }
                else tipDialog('发生错误\nstatus:' + xhr.status + '\n返回内容:' + xhr.responseText, 3, -2);
            }
        }
        xhr.send(fd);
        return xhr.responseText;
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class='formTitle' style="height:30px">物料编号：</th>
            <td class='formValue'>
                <input id="MatCd" maxlength=50 type="text" class="txt required" datacol="yes" err="物料编号" checkexpession="NotNull" checkdata="hasOne" />
            </td>
            <th class='formTitle' style="height:30px">物料名称：</th>
            <td class='formValue'>
                <input id="MatNm" maxlength=50 type="text" class="txt required" datacol="yes" err="物料名称" checkexpession="NotNull" checkdata="hasOne" />
            </td>
        </tr>
        <tr>
            <th class='formTitle' style="height:30px">物料类别：</th>
            <td class='formValue'>
                <select id="MatCatg" maxlength=100 type="text" class="txt required checkdata" checkexpession="物料类别" datacol="yes" err="物料类别" onclick=""></select>
            </td>
            <th class='formTitle' style="height:30px">物料类型：</th>
            <td class='formValue'>
                <select id="MatTyp" maxlength=100 type="text" class="txt required checkdata" checkexpession="物料类型" datacol="yes" err="物料类型" onclick=""></select>
            </td>
        </tr>
        <tr>
            <th class='formTitle' style="height:30px">规格型号：</th>
            <td class='formValue'>
                <input id="MatSpec" maxlength=50 type="text" class="txt required checkdata" datacol="yes" err="规格型号" checkexpession="NotNull" checkdata="hasOne" />
            </td>
            <th class='formTitle' style="height:30px">单位：</th>
            <td class='formValue'>
                <input id="Unit" maxlength=50 type="text" class="txt " />
            </td>
        </tr>
        <tr>
            <th class='formTitle' style="height:30px">提前期：</th>
            <td class='formValue'>
                <input id="LeadTm" maxlength=50 type="text" class="txt " />
            </td>
            <th class='formTitle' style="height:30px">良品率：</th>
            <td class='formValue'>
                <input id="YieldRate" maxlength=50 type="text" class="txt "  />
            </td>
        </tr>
        <tr>
            <th class='formTitle' style="height:30px">备注：</th>
            <td class='formValue'>
                <textarea id="Rem" maxlength="200" class="txtArea" rows="2"></textarea>
            </td>
        </tr>
        <tr>
            <th class="formTitle">物料图片：</th>
            <td class="formValue" rowspan="3" style="float:inherit" colspan="3">
                <input id="Photograph" name="Photograph" type="file" accept="image/*" />
                <img id="picture" height="145" width="145" />
            </td>
        </tr>
    </table>
</form>
