@{
    ViewBag.Title = "车身实时扫码状态表";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<!--MQTT-->
<script src="~/Content/Scripts/mqtt/mqttws31.min.js"></script>
<script type="text/javascript">

    //MQTT实例
    var guid = "";//唯一标识
    var client;

    var topicTA = '/KeyParts/Line-10/ClearStatic'; //内饰A发送MQTT消息主题
    var topicTB = '/KeyParts/Line-11/ClearStatic'; //内饰B发送MQTT消息主题
    var topicCA = '/KeyParts/Line-12/ClearStatic'; //底盘A发送MQTT消息主题
    var topicCB = '/KeyParts/Line-13/ClearStatic'; //底盘B发送MQTT消息主题
    var topicF = '/KeyParts/Line-14/ClearStatic'; //合装线发送MQTT消息主题

    $(function () {
        GetGrid();//加载车身实时扫码状态信息
        guid = uuid();      //随机生成唯一标识
        setTimeout('MqttConnect()', 1000);//连接Mqtt
        setTimeout
    })
    function fresh() {
        btn_Search();
        setTimeout(fresh, 5000);
    }
    //加载班组表格
    function GetGrid() {
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/BaseModule/Q_ScanStatus_Timely/GridPageJson1")",
            datatype: "json",
            height: $(window).height() - 149,
            autowidth: true,
            colModel: [
                { label: '产线ID', name: 'PlineId', index: 'PlineId', width: 100, align: 'center', sortable: true, hidden: true },
                { label: '产线名称', name: 'PlineNm', index: 'PlineNm', width: 0, align: 'center', sortable: true },
                { label: '产线编号', name: 'PlineCd', index: 'PlineCd', width: 0, align: 'center', sortable: true, hidden: true },
                { label: '工位Id', name: 'WcId', index: 'WcId', width: 0, align: 'center', sortable: true, hidden: true },
                { label: '工位名称', name: 'WcNm', index: 'WcNm', width: 0, align: 'center', sortable: true },
                { label: 'VIN', name: 'VIN', index: 'VIN', width: 0, align: 'center', sortable: true },
                { label: '物料编号', name: 'MatCd', index: 'MatCd', width: 0, align: 'center', sortable: true },
                { label: '物料名称', name: 'MatNm', index: 'MatNm', width: 0, align: 'center', sortable: true },
                { label: '物料序号', name: 'MatNo', index: 'MatNo', width: 60, align: 'center', sortable: true },
                {
                    label: '扫码状态', name: 'ScanStatus', index: 'ScanStatus', width: 200, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '未扫码') return "未操作";
                        else if (cellvalue == 'ByPass') return "放行";
                        else return cellvalue;
                    }
                },
                {
                    label: '车身状态', name: 'RemainStationNo', index: 'RemainStationNo', width: 0, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '0') return "已出站";
                        else return "作业中";
                    }
                },
            ],
            pager: "#gridPager",
            sortname: 'RemainStationNo',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            loadonce: true,
            multiselect: false,
            multiboxonly: true,
            viewrecords: true,//显示总的记录条数
            rownumWidth: 45,//序号列宽
            //隔行变色
            altRows: true,//单双行样式不同
            altclass: 'differ',//单双行样式
        });
    }

    //刷新
    function windowload() {
        $("#gridTable").setGridParam({ datatype: 'json', page: 1 }).trigger("reloadGrid");
    }

    //搜索
   function btn_Search() {
       var ConditionPline = $("#ConditionPline").val();//选择的产线名称
       var ConditionScan = $("#ConditionScan").val();//选择的扫码状态
       var RemainStationNo = $("#RemainStationNo").val();//选择的扫码状态

        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/BaseModule/Q_ScanStatus_Timely/GridPageByCondition")?PlineNm=" + escape(ConditionPline) + "&ScanStatus=" + escape(ConditionScan) + "&RemainStationNo=" + escape(RemainStationNo), page: 1, datatype: 'json'
    }).trigger('reloadGrid');
    }

    $(document).keypress(function (e) {
        // 回车键事件
        if (e.which == 13) {
            btn_Search();
        }
    });


    //mqtt相关

    //生成唯一标识
    function uuid() {
        var s = [];
        var hexDigits = "0123456789abcdef";
        for (var i = 0; i < 36; i++) {
            s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
        }
        s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
        s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
        s[8] = s[13] = s[18] = s[23] = "-";

        var uuid = s.join("");
        return uuid;
    }

    //连接Mqtt
    function MqttConnect() {
        client = new Paho.MQTT.Client("10.138.13.3", 8083, "/FAS/ScanStatusView/" + guid);//建立客户端实例
        client.connect({
            userName: "userName",
            password: "password",
            onSuccess: onConnect,
            onFailure: onFailConnect
        });//连接服务器并注册连接成功处理事件
        //client.onConnectionLost = onConnectionLost;//注册连接断开处理事件
        //client.onMessageArrived = onMessageArrived;//注册消息接收处理事件
        //client.onMessageDelivered = onMessageDelivered;//注册消息发布事件
    }

    //连接成功回调-主题赋值
    function onConnect() {
        //console.log("onConnect");

    }
    //4.2连接失败回调
    function onFailConnect() {
        tipDialog("消息队列连接失败", 3, -1);
    }
    //4.3连接断开回调
    function onConnectionLost(requestObject) {
        //if (requestObject.errorCode !== 0) {
        //    //console.log("第" + ++ReconnectionNumber + "次重连。异常信息为：" + requestObject.errorMessage);
        //    // 定时器重连
        //    disconnect();
        //    MqttConnect();
        //}
    }


    //清除内饰A线未扫码数量且放行
    function btn_TAclear() {
        var sendinfo = "clear";
        let message = new Paho.MQTT.Message(sendinfo);//发送的内容
        message.destinationName = topicTA;//发送的主题
        client.send(message);
        windowload();//刷新表格
    }
    //清除内饰B线未扫码数量且放行
    function btn_TBclear() {
        var sendinfo = "clear";
        let message = new Paho.MQTT.Message(sendinfo);//发送的内容
        message.destinationName = topicTB;//发送的主题
        client.send(message);
        windowload();//刷新表格
    }
    //清除底盘A线未扫码数量且放行
    function btn_CAclear() {
        var sendinfo = "clear";
        let message = new Paho.MQTT.Message(sendinfo);//发送的内容
        message.destinationName = topicCA;//发送的主题
        client.send(message);
        windowload();//刷新表格
    }
    //清除底盘B线未扫码数量且放行
    function btn_CBclear() {
        var sendinfo = "clear";
        let message = new Paho.MQTT.Message(sendinfo);//发送的内容
        message.destinationName = topicCB;//发送的主题
        client.send(message);
        windowload();//刷新表格
    }
    //清除合装线未扫码数量且放行
    function btn_Fclear() {
        var sendinfo = "clear";
        let message = new Paho.MQTT.Message(sendinfo);//发送的内容
        message.destinationName = topicF;//发送的主题
        client.send(message);
        windowload();//刷新表格
    }

    //清除合装线未扫码数量且放行
    function btn_WcCleared() {
        var PlineId = GetJqGridRowValue("#gridTable", "PlineId");//获取被选中行产线Id
        var PlineCd = GetJqGridRowValue("#gridTable", "PlineCd");//获取被选中行产线Cd
        var WcId = GetJqGridRowValue("#gridTable", "WcId");//获取被选中行工位Id
        var VIN = GetJqGridRowValue("#gridTable", "VIN");//获取被选中行VIN
        var MatId = GetJqGridRowValue("#gridTable", "MatId");//获取被选中行MatId
        var MatNo = GetJqGridRowValue("#gridTable", "MatNo");//获取被选中行MatNo
        var ScanStatus = GetJqGridRowValue("#gridTable", "ScanStatus");//获取被选中行扫码结果
        if (WcId == undefined || WcId == "" || WcId == 'null' || WcId == 'undefined') {
            tipDialog('您没有选中任何项,请您选中后再操作。', 4, 'warning');
        }
        else {
            var count = WcId.split(",").length;
            if (count >= 2) {
                tipDialog('很抱歉，一次只能选择一个进行操作。', 4, 'warning');
            }
            else {
                //先查此记录是不是未扫码
                if (ScanStatus == "未扫码") {
                    //把该条记录从未扫码改为ByPass
                    AjaxJson("/BaseModule/Q_ScanStatus_Timely/ChangeScanStatus", { WcId: WcId, VIN: VIN, MatId: MatId, MatNo: MatNo, ScanStatus: ScanStatus }, function (data) {
                        var changeResult = data;//修改数据库修改结果-影响行数
                        if (changeResult == "0") {
                            tipDialog('修改失败。', 4, 'warning');
                        }
                        else {
                            //修改完成
                            //查询此工位是否还有未扫码-没有未扫码记录发送消息
                            AjaxJson("/BaseModule/Q_ScanStatus_Timely/FindWcScandNumber", { WcId: WcId }, function (data) {
                                if (data.rows.length == 0) {
                                    var sendinfo = WcId;//WcId 工位Id
                                    let message = new Paho.MQTT.Message(sendinfo);//发送的内容
                                    message.destinationName = "/KeyParts/" + PlineCd + "/ScanFinish";//发送的主题/KeyParts/{PlineCd}/ScanFinish
                                    client.send(message);
                                }
                                else {
                                    //该工位还有未扫码不做任何操作
                                }
                            });
                        }
                    });
                }
                else {
                    tipDialog('请选择未扫码记录。', 4, 'warning');
                }
                windowload();//刷新表格
            }
        }
    }
</script>
<style>
    .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
        padding-top: 2px;
    }

    .differ {
        background-color: #f1f1f1;
        background-image: none;
    }
</style>
<!--工具栏-->
@*按钮区域*@
<div class="tools_bar leftline rightline" style="margin: 1px; margin-bottom: 0px;">
    <div class="PartialButton">
        @Html.Partial("_PartialButton")
    </div>
</div>
@*搜索框区域*@
<table border="0" class="form-find" style="height: 45px;">
    <tr>
        <th>产线：</th>
        <td>
            <select id="ConditionPline" style="width: 150px;height:25px">
                <option value="">==全部==</option>
                <option value="内饰A线">内饰A线</option>
                <option value="内饰B线">内饰B线</option>
                <option value="底盘A线">底盘A线</option>
                <option value="底盘B线">底盘B线</option>
                <option value="合装线">合装线</option>
            </select>
        </td>
        <td style="width: 70px;height:25px;">扫码状态：</td>
        <td>
            <select id="ConditionScan" style="width: 150px;height:25px;">
                <option value="">==全部==</option>
                <option value="未扫码">未操作</option>
                <option value="ByPass">放行</option>
                <option value="已扫码">已扫码</option>
            </select>
        </td>
        <td style="width: 70px;height:25px;">车身状态：</td>
        <td>
            <select id="RemainStationNo" style="width: 150px;height:25px;">
                <option value="">==全部==</option>
                <option value="1">作业中</option>
                <option value="0">已出站</option>
            </select>
        </td>
        <td>
            <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
        </td>
    </tr>
</table>
<div class="topline rightline" style="margin: 1px; margin-top: -1px;">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>

