@{
    ViewBag.Title = "AVI站点行为配置表》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    var AviCd = GetQuery('AviCd');//主键
    var AviActionConfigId = GetQuery('AviActionConfigId');//站点行为配置主键
    $(function () {
        BindDropItem("#AviAction", "AviAction", "==全部==");
        BindDropItem("#AviCatg", "AviCatg", "==全部==");
        InitControl();

    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            if (!!GetQuery('AviActionConfigId')) {
                AjaxJson("/BaseModule/BBdbR_AVIBase/SetActionForm", { AviActionConfigId: AviActionConfigId }, function (data) {
                    SetWebControls(data);
                });
            }
            else {
                AjaxJson("/BaseModule/BBdbR_AVIBase/SetForm", { KeyValue: KeyValue }, function (data) {
                    SetWebControls(data);
                });
            }
            
        }
        
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var Enabled = $("#Enabled").val();
        var postData = GetWebControls("#form1");
        AjaxJson("/BaseModule/BBdbR_AVIBase/SubmitActionConfigForm?AviActionConfigId=" + AviActionConfigId, postData, function (data) {
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class='formTitle'>AVI站点编号：</th>
            <td class='formValue'>
                <input id="AviCd" maxlength=50 type="text" class="txt required" datacol="yes" err="AVI站点编号" checkexpession="NotNull" checkdata="hasOne" readonly />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>AVI站点类别：</th>
            <td class='formValue'>
                <select id="AviCatg" type="text" class="txt required checkdata" checkexpession="NotNull" datacol="yes" err="AVI站点类别" onclick=""></select>
            </td>
        </tr>
        <tr>
            <th class='formTitle'>AVI站点行为：</th>
            <td class='formValue'>
                <select id="AviAction" type="text" class="txt required checkdata" checkexpession="NotNull" datacol="yes" err="AVI站点行为" onclick=""></select>
            </td>
        </tr>
        <tr>
            <th class='formTitle'>行为地址：</th>
            <td class='formValue'>
                <input id="AviAddr" maxlength=100 type="text" class="txt" />
            </td>
        </tr>
        <tr>
            <th class='formTitle' style="height:30px">有效性：</th>
            <td class='formValue'>
                <select id="Enabled" maxlength=300 type="text" class="txt required checkdata" checkexpession="NotNull" datacol="yes" err="有效性" readonly>
                    <option value="1">有效</option>
                    <option value="0">无效</option>
                </select>
            </td>
        </tr>
        <tr>
            <th class='formTitle'>备注：</th>
            <td class='formValue'>
                <textarea id="Rem" maxlength="200" class="txtArea" rows="3"></textarea>
            </td>
        </tr>


    </table>
</form>
