@{
    ViewBag.Title = "AVI站点基础信息表》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">

    var KeyValue = GetQuery('KeyValue');//主键
    $(function () {
        AviList();
        InitControl();
    })
    //加载去向Avi站点列表
    function AviList() {
        AjaxJson("/BaseModule/BBdbR_AVIBase/GetAviNm", {}, function (data) {
            for (var i = 0; i < data.rows.length; i++) {
                $("#ToAVIId").append("<option value='" + data.rows[i]["id"] + "'>" + data.rows[i]["avinm"] + "</option>");
            }
        });
        RateGrade();
    }
    //加载Avi站点信息
    function RateGrade() {
        let ToAVIId = $("#ToAVIId").val();
        if (ToAVIId != "") {
            AjaxJson("/BaseModule/BBdbR_AVIBase/GetAviNm2?ToAVIId=" + ToAVIId, {}, function (data) {
                $("#ToAVINm").val(data.rows[0]["AviNm"]);
                $("#ToAVICd").val(data.rows[0]["AviCd"]);
                $("#ToAVISequence").val(data.rows[0]["AVISequence"]);
            });
        }
    }
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/BaseModule/BBdbR_AVIBase/SetConfigForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/BaseModule/BBdbR_AVIBase/SubmitConfigForm?KeyValue=" + KeyValue, postData, function (data) {
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr style="display:none">
            <th class='formTitle'>AVI主键：</th>
            <td class='formValue'>
                <input id="AviId" maxlength=50 type="text" class="txt required" datacol="yes" err="AVI主键" checkexpession="NotNull" checkdata="hasOne" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>AVI站点名称：</th>
            <td class='formValue'>
                <input id="RsvFld1" maxlength=50 type="text" class="txt required" datacol="yes" err="AVI站点名称" checkexpession="NotNull" checkdata="hasOne" readonly />
            </td>
        </tr>
        <tr style="display:none">
            <th class='formTitle'>是否独立：</th>
            <td class='formValue'>
                <select id="IsIndependence" maxlength=100 type="text" class="txt required checkdata" checkexpession="NotNull" datacol="yes" err="是否独立" onclick="">
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </td>
        </tr>
        <tr style="display:none">
            <th class='formTitle'>去向产线主键：</th>
            <td class='formValue'>
                <input id="PlineId" maxlength=50 type="text" class="txt"/>
            </td>
        </tr>
        <tr>
            <th class='formTitle'>去向产线名称：</th>
            <td class='formValue'>
                <input id="RsvFld2" maxlength=50 type="text" class="txt required" datacol="yes" err="去向产线名称" checkexpession="NotNull" checkdata="hasOne" readonly />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>去向产线标识：</th>
            <td class='formValue'>
                <input id="PlineMark" maxlength=50 type="text" class="txt required" datacol="yes" err="去向产线标识" checkexpession="NotNull" checkdata="hasOne" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>去向AVI站点：</th>
            <td class='formValue'>
                <select id="ToAVIId" maxlength=50 type="text" class="txt  checkdata" onchange="RateGrade()">
                    <option value="">==请选择==</option>
                </select>
            </td>
        </tr>
        <tr style="display:none">
            <th class='formTitle'>去向AVI站点编号：</th>
            <td class='formValue'>
                <input id="ToAVICd" maxlength=50 type="text" class="txt" readonly />
            </td>
        </tr>
        <tr style="display:none">
            <th class='formTitle'>去向AVI站点名称：</th>
            <td class='formValue'>
                <input id="ToAVINm" maxlength=50 type="text" class="txt" readonly />
            </td>
        </tr>
        <tr style="display:none">
            <th class='formTitle'>去向AVI站点顺序：</th>
            <td class='formValue'>
                <input id="ToAVISequence" maxlength=50 type="text" class="txt" readonly />
            </td>
        </tr>
        <tr style="display:none">
            <th class='formTitle' style="height:30px">有效性：</th>
            <td class='formValue'>
                <select id="Enabled" maxlength=300 type="text" class="txt required checkdata" checkexpession="NotNull" datacol="yes" err="有效性" readonly>
                    <option value="1">有效</option>
                    <option value="0">无效</option>
                </select>
            </td>
        </tr>
        <tr>
            <th class='formTitle'>备注：</th>
            <td class='formValue'>
                <textarea id="Rem" maxlength="200" class="txtArea" rows="3"></textarea>
            </td>
        </tr>

    </table>
</form>
