@{
    ViewBag.Title = "质控点基本表》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/BaseModule/BBdbR_QualityCheckPointBase/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
                document.getElementById('QualityCheckPointCd').setAttribute("readOnly", true);//编号不可修改
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!(checkHasOne(KeyValue))) {
            return false;
        }
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/BaseModule/BBdbR_QualityCheckPointBase/SubmitForm?KeyValue=" + KeyValue, postData, function (data) {
            if (data.Message == "该编号已经存在！") {
                tipCss("QualityCheckPointCd", data.Message);
                return;
            }
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class='formTitle'>质控点编号：</th>
            <td class='formValue'>
                <input id="QualityCheckPointCd" maxlength=50 type="text" class="txt required" datacol="yes" err="质控点编号" checkexpession="NotNull" checkdata="hasOne"  />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>质控点名称：</th>
            <td class='formValue'>
                <input id="QualityCheckPointNm" maxlength=50 type="text" class="txt required" datacol="yes" err="质控点名称" checkexpession="NotNull"  />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>顺序号：</th>
            <td class='formValue'>
                <input id="QueueNo" maxlength=10 type="text" class="txt required" datacol="yes" err="顺序号" checkexpession="NumOrNull"  />
            </td>
        </tr>
        @*<tr>
            <th class='formTitle'>有效性：</th>
            <td class='formValue'>
                <select id="Enabled" class="txt required" datacol="yes" err="有效性" checkexpession="NotNull">
                    <option value="1">有效</option>
                    <option value="0">无效</option>
                </select>
            </td>
        </tr>*@
        <tr>
            <th class='formTitle'>质控点描述：</th>
            <td class='formValue'>
                <textarea id="QualityCheckPointDsc" maxlength=200 class="txt"  ></textarea>
            </td>
        </tr>
        <tr>
            <th class='formTitle'>备注：</th>
            <td class='formValue'>
                <textarea id="Rem" maxlength=200 class="txtArea" rows="3"></textarea>
            </td>
        </tr>
        
    </table>
</form>
