@{
    ViewBag.Title = "设备报警地址管理表》明细页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/CommonModule/BBdbR_AlarmAddressBase/SetForm", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);
            });
        }
    }
</script>
<form id="form1" style="margin: 1px">
    <table class="form">
        <tr>
            <th class='formTitle'>主键：</th>
            <td class='formValue'>
                <label id="RuleId" />
            </td>
            <th class='formTitle'>产线主键：</th>
            <td class='formValue'>
                <label id="PlineId" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>工位主键：</th>
            <td class='formValue'>
                <label id="WcId" />
            </td>
            <th class='formTitle'>站点主键：</th>
            <td class='formValue'>
                <label id="AviId" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>设备主键：</th>
            <td class='formValue'>
                <label id="DvcId" />
            </td>
            <th class='formTitle'>报警地址：</th>
            <td class='formValue'>
                <label id="AlarmAddress" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>报警位数：</th>
            <td class='formValue'>
                <label id="AlarmBit" />
            </td>
            <th class='formTitle'>报警路径：</th>
            <td class='formValue'>
                <label id="AlarmRoute" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>报警等级：</th>
            <td class='formValue'>
                <label id="AlarmClass" />
            </td>
            <th class='formTitle'>报警描述：</th>
            <td class='formValue'>
                <label id="AlarmDsc" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>有效性：</th>
            <td class='formValue'>
                <label id="Enabled" />
            </td>
            <th class='formTitle'>创建时间：</th>
            <td class='formValue'>
                <label id="CreTm" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>创建人编号：</th>
            <td class='formValue'>
                <label id="CreCd" />
            </td>
            <th class='formTitle'>创建人名称：</th>
            <td class='formValue'>
                <label id="CreNm" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>修改时间：</th>
            <td class='formValue'>
                <label id="MdfTm" />
            </td>
            <th class='formTitle'>修改人编号：</th>
            <td class='formValue'>
                <label id="MdfCd" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>修改人名称：</th>
            <td class='formValue'>
                <label id="MdfNm" />
            </td>
            <th class='formTitle'>备注：</th>
            <td class='formValue'>
                <label id="Rem" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>预留字段1：</th>
            <td class='formValue'>
                <label id="RsvFld1" />
            </td>
            <th class='formTitle'>预留字段2：</th>
            <td class='formValue'>
                <label id="RsvFld2" />
            </td>
        </tr>
        <tr>
        </tr>
    </table>
</form>
