@{
    ViewBag.Title = "车间基础信息表》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    var FacId ="";//主键
    $(function () {
        //RateGradeList();
        BindDropItem("#WorkshopTyp", "WorkShopType", "--全部--");
        InitControl();
    })
    //加载人员列表
    function RateGradeList() {
        AjaxJson("/BaseModule/BBdbR_WorkshopBase/GetPlineNm", {}, function (data) {
            for (var i = 0; i < data.rows.length; i++) {
                $("#StfId").append("<option value='" + data.rows[i]["id"] + "'>" + data.rows[i]["StfNm"] + "</option>");
            }
        });
        RateGrade();
    }
    //加载人员信息
    function RateGrade() {
        let StfId = $("#StfId").val();
        if (StfId != "") {
            AjaxJson("/BaseModule/BBdbR_WorkshopBase/GetPlineNm?StfId=" + StfId, {}, function (data) {
                $("#StfNm").val(data.rows[0]["StfNm"]);
                if (data.rows[0]["Phn"] == "&nbsp;") {
                    data.rows[0]["Phn"] = "";
                }
                $("#Phn").val(data.rows[0]["Phn"]);
            });
        }
        else {
            $("#StfNm").val("");
            $("#Phn").val("");
        }
    }
    //得到一个对象实体
    function InitControl() {
        //$("#StfId").val(StfId);
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/BaseModule/BBdbR_WorkshopBase/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
                $("#DepartmentID").val(data.DepartmentID);
                $("#StfId").val(data.StfId);
                document.getElementById("WorkshopCd").readOnly = true;
            });
        }
        else {
            FacId = GetQuery('areaId');//主键
            $("#FacId").val(FacId);
        }
    }
    //保存事件
    function AcceptClick() {
        if (!(checkHasOne(KeyValue))) {
            return false;
        }
        //var CacheQantity = $("#CacheQantity").val();//缓存上限必须要大于缓存下限
        //var CacheLimit = $("#CacheLimit").val();
        //if (CacheQantity < CacheLimit) {
        //    alert("缓存上限必须要大于缓存下限！");
        //    return;
        //}
        //var HighestQantity = $("#HighestQantity").val();//最高在制必须要大于最低在制
        //var LowestQantity = $("#LowestQantity").val();
        //if (HighestQantity < LowestQantity) {
        //    alert("最高在制必须要大于最低在制！");
        //    return;
        //}
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/BaseModule/BBdbR_WorkshopBase/SubmitFormWC?KeyValue=" + KeyValue , postData, function (data) {
            if (data.Message == "该编号已经存在！") {
                tipCss("WorkshopCd", data.Message);
                return;
            }
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class='formTitle' style="height:30px">车间编号：</th>
            <td class='formValue'>
                <input id="WorkshopCd" maxlength=50 type="text" class="txt required" datacol="yes" err="车间编号" checkexpession="NotNull" checkdata="hasOne" />
            </td>
            <th class='formTitle' style="height:30px">车间类型：</th>
            <td class='formValue'>
                <select id="WorkshopTyp" maxlength=100 type="text" class="txt required checkdata" checkexpession="NotNull" datacol="yes" err="车间类型" onclick=""></select>
            </td>
        </tr>
        <tr style="display:none">
            <th class='formTitle' style="height:30px">负责人姓名：</th>
            <td class='formValue' colspan="3">
                <input id="StfNm" maxlength=50 type="text" class="txt required" datacol="yes" err="负责人姓名" checkdata="hasOne" />
            </td>
        </tr>
        <tr>
            <th class='formTitle' style="height:30px">车间名称：</th>
            <td class='formValue' colspan="3">
                <input id="WorkshopNm" maxlength=50 type="text" class="txt required" datacol="yes" err="车间名称" checkexpession="NotNull" checkdata="hasOne" />
            </td>
        </tr>
        @*<tr>
            <th class='formTitle'>标准在制：</th>
            <td class='formValue'>
                <input id="WspInPro" maxlength=10 type="text" class="txt" onkeyup="this.value=this.value.replace(/\D/g,'')" />
            </td>
            <th class='formTitle'>JPH：</th>
            <td class='formValue'>
                <input id="WspJPH" maxlength=10 type="text" class="txt" onkeyup="this.value=this.value.replace(/\D/g,'')" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>缓存上限：</th>
            <td class='formValue'>
                <input id="CacheQantity" maxlength=10 type="text" class="txt" onkeyup="this.value=this.value.replace(/\D/g,'')" />
            </td>
            <th class='formTitle'>缓存下限：</th>
            <td class='formValue'>
                <input id="CacheLimit" maxlength=10 type="text" class="txt" onkeyup="this.value=this.value.replace(/\D/g,'')" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>最高在制：</th>
            <td class='formValue'>
                <input id="HighestQantity" maxlength=10 type="text" class="txt" onkeyup="this.value=this.value.replace(/\D/g,'')" />
            </td>
            <th class='formTitle'>最低在制：</th>
            <td class='formValue'>
                <input id="LowestQantity" maxlength=10 type="text" class="txt" onkeyup="this.value=this.value.replace(/\D/g,'')" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>负责人员：</th>
            <td class='formValue'>
                <select id="StfId" maxlength=50 type="text" class="txt  checkdata" onchange="RateGrade()">
                    <option value="">
                        请选择负责人
                    </option>
                </select>
            </td>
            <th class='formTitle'>负责人员手机号：</th>
            <td class='formValue'>
                <input id="Phn" maxlength=50 type="text" class="txt" readonly />
            </td>
        </tr>*@
        <tr>
            <th class='formTitle'>车间描述：</th>
            <td class='formValue' colspan="3">
                <input id="Dsc" maxlength=500 type="text" class="txt" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>顺序号：</th>
            <td class='formValue' colspan="3">
                <input id="sort" maxlength=200 type="text" class="txt"  onkeyup="this.value=this.value.replace(/\D/g,'')" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>备注：</th>
            <td class='formValue' colspan="3">
                <input id="Rem" maxlength=200 type="text" class="txt" />
            </td>
        </tr>
    </table>
</form>