@{
    ViewBag.Title = "缺陷类别分组基本信息表》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    var Nodetext = GetQuery('text');//
    var catgid = GetQuery('catgid');//
    $(function () {
        GetDefectCatgList();//加载缺陷类型下拉框
        InitControl();
    })

    //获取缺陷类型下拉框
    function GetDefectCatgList() {
        AjaxJson("/QualityModule/BBdbR_DefectCatgGroupBase/GetDefectCatgList", {}, function (data) {
            for (var i = 0; i < data.rows.length; i++) {
                $("#DefectCatgId").append("<option value='" + data.rows[i]["DefectCatgId"] + "'>" + data.rows[i]["DefectCatgNm"] + "</option>");
            }
        });
    }

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/QualityModule/BBdbR_DefectCatgGroupBase/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
            $("#DefectCatgGroupCd").attr("readonly", "readonly");
            $("#DefectCatgGroupNm").attr("readonly", "readonly");
        }
    
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/QualityModule/BBdbR_DefectCatgGroupBase/Submit?KeyValue=" + KeyValue + "&Catgid=" + catgid, postData, function (data) {
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">       
        <tr>
            <th class='formTitle' style=" width:95px">缺陷类型：</th>
            <td class='formValue'>
                <select id="DefectCatgId" style="height:100%;" maxlength=50 type="text" class="txt required checkdata" checkexpession="缺陷类型" datacol="yes" err="缺陷类型" onclick=""></select>
            </td>
        </tr>
        <tr>
            <th class='formTitle'>缺陷分组编号：</th>
            <td class='formValue'>
                <input id="DefectCatgGroupCd" maxlength=50 type="text" class="txt required" datacol="yes" err="缺陷类型分组编号" checkexpession="NotNull"    />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>缺陷分组名称：</th>
            <td class='formValue'>
                <input id="DefectCatgGroupNm" maxlength=50 type="text" class="txt required" datacol="yes" err="缺陷类型分组名称" checkexpession="NotNull"    />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>描述：</th>
            <td class='formValue'>
                <input id="Dsc" maxlength=500 type="text" class="txt"   />
            </td>
        </tr>
      
        <tr>
            <th class='formTitle'>备注：</th>
            <td class='formValue'>
                <input id="Rem" maxlength=200 type="text" class="txt"   />
            </td>
        </tr>     
        <tr>
        </tr>
    </table>
</form>
