@{
    ViewBag.Title = "BBdbR_BarCodeBase》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var BarId = GetQuery('BarId');//主键-条码基础信息id
    //var BarCd = GetQuery('BarCd');//主键-条码基础信息id
    //var BarNm = GetQuery('BarNm');//主键-条码基础信息id
    //var BarLength = GetQuery('BarLength');//主键-解码规则信息id
    //var RsvFld1 = GetQuery('RsvFld1');//主键-解码规则信息id
    //var Rem = GetQuery('Rem');//主键-解码规则信息id
    $(function () {
        ////SetWebControls(data);
        //$("#BarId").val(BarId);
        //$("#BarCd").val(BarCd);
        //$("#BarNm").val(BarNm);
        //$("#BarLength").val(BarLength);
        //$("#RsvFld1").val(RsvFld1);
        //$("#Rem").val(Rem);
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!BarId) {
            AjaxJson("/BaseModule/BBdbR_BarCodeBase/SetForm", { KeyValue: BarId }, function (data) {
                SetWebControls(data);
            });
        }
    }
   
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/BaseModule/BBdbR_BarCodeBase/SubmitFormMain?KeyValue=" + BarId, postData, function (data) {
            //if (data.Message == "编码位数超过限制") {
            //    tipCss("CombineLength", data.Message);
            //    return;
            //}
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
       
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr hidden="hidden">
            <th class='formTitle'>条码主键：</th>
            <td class='formValue'>
                <input id="BarId" maxlength=50 type="text" class="txt" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>条码编号：</th>
            <td class='formValue'>
                <input id="BarCd" maxlength=50 type="text" class="txt required" datacol="yes" err="条码编号" checkexpession="NotNull" readonly="readonly" value="MatBarCode" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>条码名称：</th>
            <td class='formValue'>
                <input id="BarNm" maxlength=50 type="text" class="txt required" datacol="yes" err="条码名称" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>条码长度：</th>
            <td class='formValue'>
                <input id="BarLength" maxlength=8 type="number" class="txt" min="0" datacol="yes" err="条码长度" checkexpession="NumOrNull" 
                       onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"  
                       onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>优先级：</th>
            <td class='formValue'>
                <input id="RsvFld1" maxlength=8 type="number" class="txt" min="0" datacol="yes" err="优先级" checkexpession="NumOrNull" 
                       onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"  
                       onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>备注：</th>
            <td class='formValue'>
                <input id="Rem" maxlength=50 type="text" class="txt" />
            </td>
        </tr>
        <tr></tr>
    </table>
</form>

